{% extends "layout.html" %}

{% block lang %}
lang="en"
{% endblock %}

{% block title %}
About Me
{% endblock %}

{% block main %}
<section class="page_section">
    <div class="section_container">
        <div class="text_container">
            <h2>
                <div class="special_text_2 about_me">
                    <span>A</span>
                    <span>B</span>
                    <span>O</span>
                    <span>U</span>
                    <span>T&nbsp;</span>
                    <span>M</span>
                    <span>E</span>    
                </div>               
            </h2>
            <div class="text_content about_me">
                <p>Welcome, fellow visitors! If you're arrived on this page is because, probably, you wanna know more about me. Well, you're in the right place!<br>
                Sit back and make yourself confortable: I'm going to tell you a big chunk of my life's story!</p>                
                <p>I'll start with introducing myself: I'm Simone Molino, 26 years old from Milan, Italy.</p>    
                <p>If I had to briefly describe myself I can say that I am a simple INFP guy with a scientific mind, atheist, feminist and politically neutral. Oh yes! I almost forgot: very passionate about technology and computer science from an early age, and it is this passion that has led me, over time, to undertake technical and scientific studies oriented towards computer science.</p>
                <p>Since I was a kid I've always been a so said "geek" - or "nerd" as you prefer. The classic little boy who preferes to stay at home in front of an electronic device instead of going outside to play ball with friends - <span>spoiler</span>: it's still like this. 
                    In fact, Many hours of the day I spent in front of the computer geeking around with the various programs and the various tools that the programs and OSs of the time offered me. And yeah, I know you are wondering about it: even playing. I was still a child, come on! (<span>another spoiler</span>: it wasn't a "kid phase" 😝)</p>
                <p>I started by understanding how the command line interface works and that there were also entire operating systems and programs based completely on that technology, I discovered that the mouse was a thing that you could do very well without, and discovered how it works and the charm of being able to create small batch programs with DOS instructions, which, if you were to ask me now, I wouldn't even remember: so much time has passed!</p>
                <p>Subsequently, when the guidelines for the studies granted it, I began to seriously study computer science at high school. In fact, I graduated as a Computer Expert and began (but unfortunately never finished) university studies at the Bicocca University of Milan. Through the studies of those years, I deepened my knowledge regarding the engineering and low-level structures and operational's models of computers and electronic devices, I studied and learned programming languages, formatting languages and database querying, such as C, HTML / CSS and SQL and even Assembly (for Intel x8086 processors), and finally I learned how networks and the Internet infrastructure's works. At university, I understood better how algorithms works and how to apply them, and I also began to study Java as an additional programming language.</p>
                <p>Unfortunately, however, life doesn't always go the way we think. And so it was for me, as I had to face, during my studies' period, various adversities that led me away from this path and pushed me towards the world of work. And that's how I began my culinary career.</p>
                <p>Not misunderstanding! I like cooking and it is a hobby that I still cultivate, but after many years I can tell you, with extreme frankness, cooking for a living is very different from cooking as a hobby, and the "the cooking way" was certainly not what could have holded me back forever, because the passions, the really deep ones, resurface. Always.</p>
                <p>And so it was! Several years later, after stabilizing the previous "unconfortable" situation, I decided to go back to study some more computer science. Since my age is starting to be, pass me the term, "advanced", it would have been hard to come back and finish university's studies, especially after so much time of inactivity. So I started reconnecting with this world through self-studying books and by taking place at some courses and bootcamps. With this approach, I have further deepened my previous knowledge and updated myself on new technologies and new studies that can be useful in the workplace.</p>
                <p>You're not thinking I stopped, are you? No way! Even as I am writing this article, I am continuing to follow and search for new courses, books and anything that can lead me to learn new things! And I have no intention in stopping!</p>
                <p>Now that I'm back on track, I'm really happy and motivated to learn as much as possible and to tackle as many challenges and problems this world has to offer me with my new skills!</p>
                <p>I've only scratched the tip of the iceberg of the opportunities available, and I'm really excited to be able to keep digging into it!</p>
                <p>I'm <b>Simone Molino</b>, and I'm proud to be a <b>Computer Scientist</b>.</p>
                <!-- TODO: aggiungere curiosità -->
            </div>
            <div class="img_content">
                <!-- TODO: metti immagini -->
            </div>
        </div>
    </div>
</section>
<script>
    //  TODO: ANIMAZIONE QUANDO SI ARRIVA SULLA PAGINA
    // TODO: ANIMAZIONE AUTOMATICA FOTO AGGIUNTE
</script>
{% endblock %}