{% extends "layout.html" %}

{% block lang %}
lang="en"
{% endblock %}

{% block title %}
About Me
{% endblock %}

{% block main %}
<section class="page_section">
    <div class="section_container">
        <div class="text_container">
            <h1>
                <div class="special_text_2">
                    <span class="letter">A</span>
                    <span class="letter">B</span>
                    <span class="letter">O</span>
                    <span class="letter">U</span>
                    <span class="letter">T&nbsp;</span>
                    <span class="letter">M</span>
                    <span class="letter">E</span>    
                </div>               
            </h1>
            <div class="text_content about_me">
                <p>Welcome, fellow visitor! I'm Simone Molino, a guy from Milan, Italy.</p>
                <p>I can describe myself as a pretty shy person, and a Computer Scientist.</p>                
                <p>As long as I can remember, I had the passion for tech and computers in general. That passion growth with time, and pushed me to study and learn more
                    about this world.</p>
                <p>I started with learning some Windows related stuff, such as console commands, shortcuts and some DOS (wich now, to be honest, I can't remember very well).</p> 
                <p>Then, I studied effectively Computer Science at High School, where I've learnt how computers (and tech-devices) works at low level, programming languages such as Assembly (x8086) and C,
                    web programming, databases and networks with HTML, CSS and SQL.</p>
                <p>Then, problems brought me away from my study plan, and I had to work to fix them. And that brought me to cook for living.</p>    
                <p>Now, after many years in that reality, I can now definetly tell you that "the cooking-way" is not the one that could have holded me back forever. Things have changed and now I have the opportunity to take back my life and return to study some more Computer Science.</p>
                <p>As a self-taught, in this period, I've studied books, took place at some bootcamps and courses, and I'm still doing some right now while I'm writing this article.</p>
                <p>Now that I've found my way again, I'm really happy and motivated to learn as many things as possible and to face as
                    many challenges and problems that the World has to offer with those new learnt skills!</p>
                <p>I've just scratched the surface of the opportunities, and I'm so excited to be part of it!</p>
                <p>I'm <b>Simone Molino</b>, and I'm proud to be a <b>Computer Scientist</b>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}