{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!-- Progress Nav Bar: change index sections -->
<!-- Nav items -->
<div id="progress_bar_container">
    <ul class="progress_nav" role="navigation">
        <li class="selected"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!-- Progression Bar -->
    <div class="bar_empty" id="bar_empty">
        <div class="bar_filling" id="bar_filling"></div>
    </div>
    <!-- Labels for nav bar -->
    <div class="bar_labels_container" role="navigation">
        <li class="selected"><p>Home</p></li>
        <li><p>About Me</p></li>
        <li><p>Projects</p></li>
        <li><p>Contacts</p></li>
    </div>
</div>        
<!-- Main Content -->
<main class="main" id="main" role="main">
    <!-- Home: title and Bitmoji -->
    <section class="page_section" id="home" role="home">
        <!-- Container of the containers of the elements in the section -->
        <div class="section_container">
            <!-- Container of the text part -->
            <div class="text_container">
                <!-- Title -->
                <h1 role="section-title">
                    <span>Hello, everyone! I'm</span><br>
                    <!-- My Name: bouncing and filling each letter -->
                    <div class="special_text">
                        <span class="text">
                            <span class="symbol">></span>
                            <span class="letter" data-text="S">S</span>
                            <span class="letter" data-text="I">I</span>
                            <span class="letter" data-text="M">M</span>
                            <span class="letter" data-text="O">O</span>
                            <span class="letter" data-text="N">N</span>
                            <span class="letter" data-text="E">E&nbsp;</span>                        
                            <span class="letter" data-text="M">M</span>
                            <span class="letter" data-text="O">O</span>
                            <span class="letter" data-text="L">L</span>
                            <span class="letter" data-text="I">I</span>
                            <span class="letter" data-text="N">N</span>
                            <span class="letter" data-text="O">O</span>
                        :</span><br>
                    </div>
                    <!-- Cycling Words -->
                    <div class="adjectives_container">
                        <span>a</span>
                        <div class="adjectives">
                            <div>Software Developer</div>
                            <div>Guy</div>
                            <div>Challenge Lover</div>
                        </div> 
                    </div>
                </h1>
                <!-- Underline -->
                <p>Front-End <span class="diff_color">|</span> Back-End </p>
            </div>
            <!-- Container of the image part -->
            <div class="img_container" role="link">
                <img src="{{ url_for('static', filename='index-home.png') }}" alt="index-home.png">
                <!-- Tooltip - Thanks to Bitmoji -->
                <span class="tooltip" role="tooltip">
                    Thanks to 
                    <a href="https://www.bitmoji.com/" target="_blank">bitmoji</a> 
                    for the Avatars!
                </span>                
            </div>
        </div>        
    </section>
    <!-- About me: very short description + my photo -->
    <section class="page_section" id="about_me" role="info">
        <div class="section_container">
            <div class="text_container_2">
                <!-- Biggest Title ever -->
                <h1 role="section_title">
                    <div class="special_text_2">
                        <span class="letter">A</span>
                        <span class="letter">b</span>
                        <span class="letter">o</span>
                        <span class="letter">u</span>
                        <span class="letter">t&nbsp;</span>
                        <span class="letter">M</span>
                        <span class="letter">e</span>
                    </div>
                </h1>
                <!-- Form: Nome, Cognome, Età, Sesso, Cittadinanza, Cosa faccio -->
                <div class="aboutme_form" role="info">
                    <h3>Name:</h3><p>Simone</p><br>
                    <h3>Last Name:</h3><p>Molino</p><br>
                    <h3>Age:</h3><p>26</p><br>
                    <h3>Gender:</h3><p>Male</p><br>
                    <h3>Country:</h3><p>Italy</p><br>
                    <h3>Who am I:</h3><p>I'm a never-ending CS's student and a Software Developer for both Back-End and Front-End. Currently, I'm taking courses and I'm studying both UI/UX and Machine Learning's stuffs</p>
                    <form action="/about_me" method="get">
                        <button>More About Me</button>            
                    </form>                    
                </div>
            </div>
            <div class="img_container_2">
                <img src="{{ url_for('static', filename='Me.jpg') }}" alt="Me.jpg" height="535" width="400">
            </div>
        </div>
    </section>
    <!-- Projects Section -->
    <section class="page_section" id="projects" role="info">
        <div class="section_container">
            <!-- Title -->
            <div class="text_container_3">
                <h1 role="section_title">
                    <div class="special_text_2">
                        <span class="letter">P</span>
                        <span class="letter">R</span>
                        <span class="letter">O</span>
                        <span class="letter">J</span>
                        <span class="letter">E</span>
                        <span class="letter">C</span>
                        <span class="letter">T</span>
                        <span class="letter">S</span>
                    </div>
                </h1>
                <!-- Disclaimer: while !professional -->
                <div class="disclaimer">
                    <h4>Disclaimer</h4>
                    <p>For now, I've only worked on school and educational projects for the various courses that I've done. That's gonna change really soon, and more complex projects will be added to the portfolio.</p>
                </div>

                <p>Here are some of the projects that I've been (and I'm currently) working on:</p>

                <!-- Projects view -->       
                <!-- Container for all projects -->
                <div class="projects_container">
                    <!-- Class Project Container -->
                    <div class="project">
                        <h2>Class Project</h2>
                        <img src="{{ url_for('static', filename='class-project-cs50-finance.png') }}" alt="cs50-finance.png" width="390" height="250">
                        <h3>CS50 - Finance</h3>
                        <p>Based on the IEX API, this Web application resumes all the concepts studied in the CS50's Course.</p>
                    </div>
                    <!-- Personal Project Container -->
                    <div class="project">
                        <h2>Personal Project</h2>
                        <img src="{{ url_for('static', filename='password.png') }}" alt="password.png" width="390" height="250">
                        <h3>Password Manager</h3>
                        <p>A funny way to practice, and I actually need one.<br> Will be released upon finishing as free app.<br> Because if it's mine is better 😝</p>
                    </div>
                    <!-- Professional Project Container -->
                    <div class="project">
                        <h2>Professional Project</h2>
                        <img src="{{ url_for('static', filename='placeholder.png') }}" alt="placeholder.png" width="390" height="250">
                        <h3>none</h3>
                        <p>As soon as I'll be hired by someone, I'll update this field and the project's page as well.</p>
                    </div>
                </div>
                <!-- Button: redirect to projects page -->
                <form action="/projects" method="get">
                    <button>More Projects</button>
                </form>                
            </div>
        </div>
    </section>
    <!-- Contacts Section -->
    <section class="page_section" id="contacts" role="info">
        <div class="section_container">
            <div class="text_container_4">
                <h1 role="section_title">
                    <div class="special_text_2">
                        <span class="letter">C</span>
                        <span class="letter">O</span>
                        <span class="letter">N</span>
                        <span class="letter">T</span>
                        <span class="letter">A</span>
                        <span class="letter">C</span>
                        <span class="letter">T</span>
                        <span class="letter">S</span>
                    </div>
                </h1>
            </div>

        </div>
    </section>
</main>

<!-- Script for Left Nav Bar -->
<script>
    // Scrolling Scripts
    // Array of sections
    const sections = document.querySelectorAll("section");
    // Take height of the page we're seeing
    const windowHeight = window.innerHeight;
    // Take navbar items
    const navigation = document.querySelector(".progress_nav");
    const navigationLabels = document.querySelector(".bar_labels_container");

    // Reset class status function
    function reset() 
    {
        for (var i = 0; i < navigation.children.length; i++)
        {
            navigation.children[i].classList.remove("selected");
            navigationLabels.children[i].classList.remove("selected");
        }
    }
    
    // Check scrolling
    window.addEventListener("scroll", function() {
        // Take the value of the scrolling
        const scrollTop = window.scrollY;
        // Check for every section
        sections.forEach(function(section, i) {
            // Check if half of the new section has been passed by scrolling
            if (section.offsetTop < scrollTop + (windowHeight/5) && scrollTop < section.offsetTop + (windowHeight/5))
            {
                reset();
                navigation.children[i].classList.add("selected");
                navigationLabels.children[i].classList.add("selected");
            }
        });
    });

    // Smooth passing through sections by clicking on nav items
    document.querySelectorAll(".progress_nav li").forEach(function(item, i) {
        item.addEventListener("click", function() {
            window.scrollTo( {
                top: i * windowHeight + 20,
                behavior: "smooth"
            });
        });
    });

    // Same for Labels
    document.querySelectorAll(".bar_labels_container li").forEach(function(item, i) {
        item.addEventListener("click", function() {
            window.scrollTo( {
                top: i * windowHeight,
                behavior: "smooth"
            });
        });
    });

    // Same thing with the image
    let home = document.querySelector("#nav_img");
    home.addEventListener("click", function() {
        window.scrollTo( {
            top: 0,
            behavior: "smooth"
        });
    });
    
    // Fill the bar while scrolling
    window.onscroll = function() {BarFilling()};

    function BarFilling() {
        // Take top page
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        // Take user height in that moment
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        // % scrolled
        var scrolled = (winScroll / height) * 100;
        // Set value
        document.getElementById("bar_filling").style.height = scrolled + "%";
    }

    // Letter Bouncing Script
    // Select letters
    document.querySelectorAll(".letter").forEach((element) => {
        // Add listening for mouseover
        element.addEventListener("mouseover", (e) => BounceLetter(e.target));
        element.addEventListener("click", (e) => SetColor(e.target));
    });

    // Set class to bounce
    function BounceLetter(letter) 
    {
        if (!letter.classList.contains("letter_bouncing")) 
        {
            letter.classList.add("letter_bouncing");
            setTimeout(function() 
            {
                letter.classList.remove("letter_bouncing");
            }, 1000);
        }
    }
</script>
{% endblock %}