{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!-- Progress Nav Bar: change index sections -->
<!-- Nav items -->
<div id="progress_bar_container">
    <ul class="progress_nav" role="navigation">
        <li class="selected"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!-- Progression Bar -->
    <div class="bar_empty" id="bar_empty">
        <div class="bar_filling" id="bar_filling"></div>
    </div>
    <!-- Labels for nav bar -->
    <div class="bar_labels_container" role="navigation">
        <li class="selected"><p>Section_1</p></li>
        <li><p>Section_2</p></li>
        <li><p>Section_3</p></li>
        <li><p>Section_4</p></li>
    </div>
</div>        
<!-- Main Content -->
<main class="main" id="main" role="main">
    <!-- The viewed part of the page -->
    <section class="page_section" id="home">
        <!-- Container of the containers of the elements in the section -->
        <div class="section_container">
            <!-- Container of the text part -->
            <div class="text_container">
                <!-- Title -->
                <h1 role="section-title">
                    <span>Hello, everyone! I'm</span><br>
                    <div class="special_text">
                        <span class="text">
                            <span class="symbol">></span>
                            <span class="letter" data-text="S">S</span>
                            <span class="letter" data-text="I">I</span>
                            <span class="letter" data-text="M">M</span>
                            <span class="letter" data-text="O">O</span>
                            <span class="letter" data-text="N">N</span>
                            <span class="letter" data-text="E">E&nbsp;</span>                        
                            <span class="letter" data-text="M">M</span>
                            <span class="letter" data-text="O">O</span>
                            <span class="letter" data-text="L">L</span>
                            <span class="letter" data-text="I">I</span>
                            <span class="letter" data-text="N">N</span>
                            <span class="letter" data-text="O">O</span>
                        :</span><br>
                    </div>
                   
                    <div class="adjectives_container">
                        <span>a</span>
                        <div class="adjectives">
                            <div>Software Developer</div>
                            <div>Guy</div>
                            <div>Challenge Lover</div>
                        </div> 
                    </div>
                </h1>
                <!-- Underline -->
                <!-- IMPLEMENTARE CHE QUANDO CLICCO SU FRONT-END RIMANE COM'E' -->
                <!-- QUANDO CLICCO SU BACK END MOSTRA IL CODICE SORGENTE COME BACKGROUND -->
                <p>Front-End <span class="diff_color">|</span> Back-End </p>
            </div>
            <!-- Container of the image part -->
            <div class="img_container" role="link">
                <img src="{{ url_for('static', filename='index-home.png') }}" alt="index-home.png">
                <span class="tooltip" role="tooltip">
                    Thanks to 
                    <a href="https://www.bitmoji.com/" target="_blank">bitmoji</a> 
                    for the Avatars!
                </span>                
            </div>
        </div>        
    </section>
    <section>
        <div>Section 2</div>
    </section>
    <section>
        <div>Section 3</div>
    </section>
    <section>
        <div>Section 4</div>
    </section>                        
</main>

<!-- Script for Left Nav Bar -->
<script>
    // Scrolling Scripts
    // Array of sections
    const sections = document.querySelectorAll("section");
    // Take height of the page we're seeing
    const windowHeight = window.innerHeight;
    // Take navbar items
    const navigation = document.querySelector(".progress_nav");
    const navigationLabels = document.querySelector(".bar_labels_container");

    // Reset class status function
    function reset() 
    {
        for (var i = 0; i < navigation.children.length; i++)
        {
            navigation.children[i].classList.remove("selected");
            navigationLabels.children[i].classList.remove("selected");
        }
    }
    
    // Check scrolling
    window.addEventListener("scroll", function() {
        // Take the value of the scrolling
        const scrollTop = window.scrollY;
        // Check for every section
        sections.forEach(function(section, i) {
            // Check if half of the new section has been passed by scrolling
            if (section.offsetTop < scrollTop + (windowHeight/5) && scrollTop < section.offsetTop + (windowHeight/5))
            {
                reset();
                navigation.children[i].classList.add("selected");
                navigationLabels.children[i].classList.add("selected");
            }
        });
    });

    // Smooth passing through sections by clicking on nav items
    document.querySelectorAll(".progress_nav li").forEach(function(item, i) {
        item.addEventListener("click", function() {
            window.scrollTo( {
                top: i * windowHeight + 20,
                behavior: "smooth"
            });
        });
    });

    // Same for Labels
    document.querySelectorAll(".bar_labels_container li").forEach(function(item, i) {
        item.addEventListener("click", function() {
            window.scrollTo( {
                top: i * windowHeight,
                behavior: "smooth"
            });
        });
    });

    // Same thing with the image
    let home = document.querySelector("#nav_img");
    home.addEventListener("click", function() {
        window.scrollTo( {
            top: 0,
            behavior: "smooth"
        });
    });
    
    // Fill the bar while scrolling
    window.onscroll = function() {BarFilling()};

    function BarFilling() {
        // Take top page
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        // Take user height in that moment
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        // % scrolled
        var scrolled = (winScroll / height) * 100;
        // Set value
        document.getElementById("bar_filling").style.height = scrolled + "%";
    }

    // Letter Bouncing Script
    // Select letters
    document.querySelectorAll(".letter").forEach((element) => {
        // Add listening for mouseover
        element.addEventListener("mouseover", (e) => BounceLetter(e.target));
    });

    // Set class to bounce
    function BounceLetter(letter) 
    {
        if (!letter.classList.contains("letter_bouncing")) 
        {
            letter.classList.add("letter_bouncing");
            setTimeout(function() 
            {
                letter.classList.remove("letter_bouncing");
            }, 1000);
        }
    }
</script>
{% endblock %}