{% extends "layout-landing.html" %}

{% block lang %}
lang="en"
{% endblock %}

{% block title %}
Lang. Selection
{% endblock %}

{% block main %}  
<!-- "MAIN CONTENT" -->
<main class="main" id="main" role="main">  
    <!-- "HERO" Section: title and Bitmoji -->
    <section class="page_section boxed-container margin-right-auto margin-left-auto" id="hero" role="hero">
        <!-- Dark Theme Button -->
        <div class="flex-container width-100 justify-end padding-right-s padding-top-s">
            <div class="switch_theme_container flex-container" role="group">
                <img src="{{ url_for('static', filename='imgs/layout-imgs/moon-dark-theme.png') }}" alt="moon-dark-theme.png" height="25" width="35" class="dark-moon display-hidden"/>
                <img src="{{ url_for('static', filename='imgs/layout-imgs/moon-light-theme.png') }}" alt="moon-dark-theme.png" height="25" width="35" class="light-moon"/>
                <label class="switch_theme margin-left-xs" role="button">
                    <input type="checkbox" class="display-hidden" id="switch-theme">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="text-center padding-top-m">
            <h2>
                <div class="special_text_2 margin-bottom-s">
                    <span>L</span>
                    <span>A</span>
                    <span>N</span>
                    <span>G</span>
                    <span>U</span>
                    <span>A</span>
                    <span>G</span>
                    <span>E&nbsp;</span>
                    <span>/&nbsp;</span>
                    <span>L</span>
                    <span>I</span>
                    <span>N</span>
                    <span>G</span>
                    <span>U</span>
                    <span>A</span>                   
                </div>
            </h2> <!-- End Title-->
        </div>
        <!-- Container of the containers of the elements in the section -->
        <div class="flex-container row align-center justify-center width-100 padding-top-xl padding-left-s padding-right-s"> <!-- .section .section_container -->
            <div class="flex-container width-50 vertical-row align-center">
                <h3 class="landing-flag-title text-center padding-bottom-s">English / Inglese</h3>
                <div class="width-66 landing-flag-img border-rounded">
                    <a href="/en/home">
                        <img src="../static/imgs/landing-imgs/flag-eng.png" alt="Flag ENG" />
                    </a>
                </div>
            </div>
            <div class="flex-container width-50 vertical-row align-center">
                <h3 class="landing-flag-title text-center padding-bottom-s">Italian / Italiano</h3>
                <div class="width-66 landing-flag-img border-rounded">
                    <a href="/it/home">
                        <img src="../static/imgs/landing-imgs/flag-ita.png" alt="Flag ITA" />
                    </a>
                </div>
            </div>
        </div>
        <div class="separator margin-bottom-xl">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--bg-medium)" fill-opacity="1" d="M0,160L48,149.3C96,139,192,117,288,133.3C384,149,480,203,576,240C672,277,768,299,864,256C960,213,1056,107,1152,85.3C1248,64,1344,128,1392,160L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </div>
    </section> <!-- End "HERO" Section --> 

</main> <!-- End "MAIN CONTENT" -->

<!-- Scripts -->
<script>

    // Letter Bouncing Script
    // Select letters
    document.querySelectorAll(".letter").forEach((element) => {
        // Add listening for mouseover
        element.addEventListener("mouseover", (e) => BounceLetter(e.target));
    });

    // HERO ANIMATION
    // Load done before function execution
    window.addEventListener("load", function() {

        // Hide Home IMG START
        let navIMG = document.getElementById("nav_img");
        navIMG.classList.add("hidden");
        // Hide Home IMG ENDS
        
        // Animation "HERO"
        let indexTL = gsap.timeline();
      
        // Top-Navbar animation
        indexTL.from(".nav_items", {
            delay: 1,
            duration: 1,
            opacity: 0,
        });
    });
    // HERO ANIMATIONS ENDS
    // SECTIONS ANIMATIONS ENDS
    
</script>
{% endblock %}