{% extends "layout.html" %}

{% block lang %}
lang="en"
{% endblock %}

{% block title %}
Projects
{% endblock %}

{% block main %}
<!-- START SECTION  -->
<section class="page_section">
    <!-- START SECTION_CONTAINER PROJECTS -->
    <div class="section_container projects">
        <!-- START TITLE__WRAPPER -->
        <div class="title__wrapper">
            <h2>
                <!-- SPECIAL TEXT START -->
                <div class="special_text_2 projects">
                    <span>P</span>
                    <span>R</span>
                    <span>O</span>
                    <span>J</span>
                    <span>E</span>
                    <span>C</span>
                    <span>T</span>
                    <span>S</span>
                </div> <!-- SPECIAL TEXT END-->
            </h2>
        </div> <!-- END TITLE -->

        <!-- START PROJECTS__WRAPPER #1 -->
        <div class="projects__wrapper">
            <!-- PROJECT TEXT -->
            <div class="project_text">
                <h3>FINANCE</h3>
                <p>This was a project done for the CS50's Harvard Course. It's a simple web application who tracks a portfolio of the possessed market stocks. It uses IEX API for getting real time value of every given stock. It also has a back-end done in Python with the implementation of Flask's framework.</p>
                <button>Take a Look</button>
            </div> <!-- END PROJECT TEXT-->
            <!-- PROJECT IMG -->
            <div class="project_img">
                <img src="" alt="" title="" />
            </div> <!-- END PROJECT IMG -->
        </div> <!-- END PROJECTS__WRAPPER-->
        <!-- START PROJECTS__WRAPPER #2 -->
        <div class="projects__wrapper">
            <!-- START PROJECT TEXT -->
            <div class="project_text">
                <h3>SIMPLE FILTER APPLIER</h3>
                <p>In this project, also made for the CS50'S Harvard Course, I've implemented a small filter applier for images, such as <i>seppia</i>, <i>greyscale</i> and so on. It's implemented fully in C, and works with CLAs.</p>
                <button>Take a Look</button>
            </div> <!-- END PROJECT_TEXT -->
            <!-- START PROJECT_IMG -->
            <div class="project_img">

            </div> <!-- END PROJECT_IMG -->
        </div> <!-- END PROJECTS__WRAPPER #2 -->
        <!-- START PROJECTS__WRAPPER #3 -->
        <div class="projects__wrapper">
            <!-- START PROJECT_TEXT -->
            <div class="project_text">
                <h3>PYTHON PROJECT FREECODECAMP</h3>
                <p>desc</p>
            </div> <!-- END PROJECT_TEXT-->
            <!-- START PROJECT IMG -->
            <div class="project_img">

            </div> <!-- END PROJECT_IMG -->

        </div> <!-- END PROJECT__WRAPPER #3 -->

    </div> <!-- END SECTION_CONTAINER PROJECT -->
</section> <!-- END SECTION -->
<!-- START SCRIPTS -->
<script>

</script> <!-- END SCRIPTS-->
{% endblock %}