{% extends "layout.html" %}

{% block lang %}
lang="it"
{% endblock %}

{% block title %}
Skills
{% endblock %}

{% block main %}
<!-- SECTION START -->
<section class="page_section">
    <!-- SECTION CONTAINER START -->
    <div class="section_container">
        <!-- TEXT CONTAINER START -->
        <div class="text_container">
            <!-- START MAIN__TEXT SKILLS  -->
            <div class="main__text skills">
                <!-- TITLE -->
                <h2>
                    <div class="special_text_2 skills">
                        <span>S</span>
                        <span>K</span>
                        <span>I</span>
                        <span>L</span>
                        <span>L</span>
                        <span>S</span>
                    </div>
                </h2> <!-- END TITLE-->
                <!-- DESCRIPTION START -->
                <p>In my various studies, I've learnt many languages, both for the front and the back end.</p>
                <p>DISCLAIMER: I really believe that nobody can tell you, in the Computer Science's world, that he knows EVERYTHING about a specific task. And by everything I really mean <i>everything</i>: every single function and its application in every scenario, every sinctatic sugar, everything. There's no way, in my opinion.</p>
                <p>That's why, when I tell you my skills, I mean that I have, more or less, a strong base of how that language works, how to implement logic and data structures and how to handle problems with it, and that's also why every language you'll see on the graphic won't cap the progress bar: there's always something new to learn or something to get better at, in any given language.</p>
                <p>So, that said, here are my skills in programming and more. Hope that can help you understand what I'm capable of 😉</p>
                <!-- END DESCRIPTION -->
            </div> <!-- END MAIN__TEXT SKILLS -->
        </div> <!-- END TEXT CONTAINER -->
        <!-- PROGRESS WRAPPER START -->
        <div class="progress__wrapper">
        </div> <!-- END PROGRESS WRAPPER-->
    </div> <!-- END SECTION CONTAINER-->
</section> <!-- END SECTION -->
{% endblock %}