{% extends "layout.html" %}

{% block lang %}
lang="it"
{% endblock %}

{% block title %}
Skills
{% endblock %}

{% block main %}
<section class="page_section">
    <div class="section_container">
        <div class="text_container">
            <h2>
                <div class="special_text_2">
                    <span class="letter">S</span>
                    <span class="letter">K</span>
                    <span class="letter">I</span>
                    <span class="letter">L</span>
                    <span class="letter">L</span>
                    <span class="letter">S</span>
                </div>
            </h2>
            <p>In my various studies, I've learnt many languages, both for the front and the back end.</p>
            <p>DISCLAIMER: I really believe that nobody can tell you, in the Computer Science's world, that he knows EVERYTHING about a specific task. And by everything I really mean <i>everything</i>: every single function and its application in every scenario, every sinctatic sugar, everything. There's no way, in my opinion.</p>
            <p>That's why, when I tell you my skills, I mean that I have, more or less, a strong base of how that language works, how to implement logic and data structures and how to handle problems with it, and that's also why every language you'll see on the graphic won't cap the progress bar: there's always something new to learn or something to get better at, in any given language.</p>
            <p>So, that said, here are my skills in programming and more. Hope that can help you understand what I'm capable of 😉</p>
        </div>
        <div class="progress__wrapper">
        </div>
    </div>
</section>
{% endblock %}