{% extends "layout.html" %}

{% block lang %}
lang="it"
{% endblock %}

{% block title %}
Skills
{% endblock %}

{% block main %}
<!-- SECTION START -->
<section class="page_section">
    <!-- SECTION CONTAINER START -->
    <div class="section_container skills">
        <!-- TEXT CONTAINER START -->
        <div class="text_container">
            <!-- START MAIN__TEXT SKILLS  -->
            <div class="main__text skills">
                <!-- TITLE -->
                <h2>
                    <div class="special_text_2 skills">
                        <span>S</span>
                        <span>K</span>
                        <span>I</span>
                        <span>L</span>
                        <span>L</span>
                        <span>S</span>
                    </div>
                </h2> <!-- END TITLE-->
                <!-- DESCRIPTION START -->
                <p>In my various studies, I've learnt many programming languages, both for the front and the back end, and I can tell you that I will <b>never</b> stop learning new and fresh skills.</p>
                <p>My personal opinion is that no one in the world, even if he could dedicate his entire life to it, would be able to know <i>everything</i> of a particular argument or skill. Maybe is an unpopular one, but I strongly believe it.</p>
                <p>Particularly in Computer Science, the amount of stuff that we all can learn and improve at, is SO big that we can never stop learning.</p>
                <p>That's why, telling that "I know this thing" in Computer Science is not accurate, at least for me. You can say "I know <i>this part</i> of that thing", but knowing one thing entirely, it's never gonna happen. And by entirely I mean <i>really</i> entirely: every application of every library, every function, every class... No way.
                <p>So, that said, when I list my skills, I mean that I have, more or less, a strong base of how that language works, how to implement logic and data structures and how to handle problems with it, and that's also why every language you'll see on the graphic won't cap the progress bar: there's always something new to learn or something to get better at, in every given language.</p>
                <p>Here are my programming skills and also something more. Hope that this can help you understand what I'm capable of 😉</p>    
                <!-- END DESCRIPTION -->
            </div> <!-- END MAIN__TEXT SKILLS -->
            <div class="progress__wrapper">
                <div class="skill" id="sb_c_bar">
                    <h3>C</h3>
                    <span class="skill_bar" id="sb_c"></span><!-- C (95%) -->
                </div>  
                <div class="skill">
                    <h3>C++</h3>
                     <span class="skill_bar" id="sb_cpp"></span> <!-- C++ (10%) -->
                 </div>
                 <div class="skill">
                     <h3>C#</h3>
                     <span class="skill_bar" id="sb_csharp"></span><!-- C# (50%) -->
                 </div>              
                <div class="skill">
                    <h3>PYTHON</h3>
                    <span class="skill_bar" id="sb_py"></span><!-- PYTHON (85%) -->
                </div>               
                <div class="skill">
                    <h3>JAVA</h3>
                    <span class="skill_bar" id="sb_java"></span><!-- JAVA (5%) -->
                </div>
                <div class="skill">
                    <h3>SQL</h3>
                    <span class="skill_bar" id="sb_sql"></span><!-- SQL (70%) -->
                </div>
                <div class="skill">
                    <h3>HTML</h3>
                    <span class="skill_bar" id="sb_html"></span> <!-- HTML (80%)-->
                </div>             
                <div class="skill">
                    <h3>CSS</h3>
                    <span class="skill_bar" id="sb_css"></span><!-- CSS (60%) -->
                </div>                
                <div class="skill">
                    <h3>JAVASCRIPT</h3>
                    <span class="skill_bar" id="sb_js"></span><!-- JAVASCRIPT (35%) -->
                </div>                
            </div> <!-- END PROGRESS WRAPPER -->
            <p style="margin-top: 5rem;">As I told you before, I'll indicate to you also my soft and secondary skills too:</p>  
            <div class="side_skills_wrapper">
                <div class="soft_skills">
                    <h3>Soft Skills</h3>
                    <ul>
                        <li><span class="diff_color">Problem Solving</span><br /> I'm good at finding solutions to problems, inside or outside the workplace.</li>
                        <li><span class="diff_color">Autonomy</span><br /> I'm good at ending tasks alone, if it's needed.</li>
                        <li><span class="diff_color">Critical-thinking</span><br /> I'm good at guessing the pros and cons of situations, and good at self-criticizing in case of error or different point of view.</li>
                        <li><span class="diff_color">Focussed</span><br /> When on a task, nothing can distract me from my goal.</li>
                        <li><span class="diff_color">Competitive</span><br /> I try to be the best in everything I do in life. That's why I give all my-self for reaching the goal and also why I work well in teams: the goal is more important then everything else, and teams' members can (and will) cooperate to reach it.</li>
                        <li><span class="diff_color">Communication</span><br /> My cooking experience has left me with some ehanced soft-skills. Communication is one of them, because we had to communicate fast and precisely what to do and how to do it in the best way.</li>
                        <li><span class="diff_color">Team Working</span><br /> Linking this with the previous soft skill, Team Working has been enhanced by my cooking experience. We were a solid team that had to work as a gear to work well and to reach the goal every single service.</li>
                        <li><span class="diff_color">Precision</span><br /> Precision is satisfying when is reached, and that's why I look for it in tasks that I work to.</li>
                        <li><span class="diff_color">Pressure Handling & Work Under Pressure</span><br /> Another soft skill enhanced by my cooking experience. Every service was stressful, and we had to fight through it and transform it into energy to go ahead and reach goals.<li><span class=="diff_color">Pressure Handling & Work Under Pressure</span> - another soft-skill enhanced by my cooking experience. Every service was stressful, and we had to fight through it and work with it to go ahead.</li>

                    </ul>
                </div> <!-- END SOFT_SKILLS -->
                <!-- SIDE SKILLS START -->
                <div class="side_skills">
                    <h3>Side Skills</h3>
                    <ul>
                        <li><span class="diff_color">Computer Builder</span><br /> Good at building a computer from single hardware components. Good at choosing hardware components based on the task that the computer has to assolve.</li>
                        <li><span class="diff_color">Computer Technician</span><br /> Good at finding solutions at computer problems. Good at using line of command interface.</li>
                        <li><span class="diff_color">Advanced -  Microsoft Office User</span><br /> Advanced level of Microsoft Office's programs user (Excel and Access mainly).</li>
                        <li><span class="diff_color">Intermediate - Photoshop User</span><br /> Intermediate level Photoshop's user. Still working on improving it.</li>
                        <li><span class="diff_color">Intermediate - DaVinci Resolve User</span><br /> Intermediate level DavVinci Resolve's user. Know how to do basical video editing and effects.</li>
                        <li><span class="diff_color">Beginner - CISCO Networks Devices Programmer</span><br /> I studied how to program CISCO Network Devices at school. Not really skilled in this, have to improve it.</li>
                    </ul>
                </div> <!-- END SIDE SKILLS -->
            </div> <!-- END SIDE_SKILLS_WRAPPER -->
            <p style="margin-top: 3rem">And to end this, here are the skills that I'm interested in learning. Hope you can see it in the top list soon!</p>
            <!-- WANNAKNOW_SKILLS START -->
            <div class="wannaknow_skills">
                <!-- STUDY_PLANNING_SKILLS START -->
                <div class="study_planning_skills">
                    <h3>Study Planning</h3>
                    <ul>
                        <li>Angular</li>
                        <li>Blockchain programming</li>
                        <li>Node.js</li>
                        <li>PHP</li>
                        <li>R</li>
                        <li>React</li>
                        <li>Swift</li>
                    </ul>
                </div> <!-- END study_planning_skills-->
                <!-- OTHER SKILLS STARTS -->
                <div class="other_skills">
                    <h3>Other Wanna-Know Skills</h3>
                    <ul>
                        <li>AI programming & ML Programming</li>
                        <li><i>Arduino</i> programming</li>
                        <li>Cybersecurity & Ethical Hacking</li>
                        <li>Home Automation</li>
                        <li>Robotics</li>
                        <li>Telecomunication and Network Expert</li>
                    </ul>
                </div> <!-- END OTHER SKILLS-->
            </div> <!-- END WANNAKNOW_SKILLS-->
        </div> <!-- END TEXT CONTAINER --> 
    </div> <!-- END SECTION CONTAINER-->

    <!-- SCRIPT -->
    <script>        
        // Animation After Load
        window.addEventListener("load", () => {
            let skillsTimeLine = gsap.timeline();
            let skillsHeroArray = document.querySelectorAll(".main__text.skills > p")

            // Title Animation
            skillsTimeLine.from(".special_text_2.skills", {
                delay: 0.5,
                opacity: 0,
                stagger: 1,
                x: -100,
                ease: "power4.out"
            });

            // Paragraphs Animation
            for (var i = 0; i < skillsHeroArray.length; i++)
            {
                skillsTimeLine.from(skillsHeroArray[i], {
                    opacity: 0,
                    x: -50,
                    duration: 0.5,
                    ease: "power4.out"   
                }, "-=0.25");
            }

            // First Bar Animation
            skillsTimeLine.from("#sb_c_bar", {
                opacity: 0,
                y: 100,
                duration: 1,
                ease: "power4.out"
            });
            skillsTimeLine.from("#sb_c", {
                width: 0,
                duration: 2,
                ease: "power4.out"
            });
        });

        // Animation on Scroll
        gsap.registerPlugin(ScrollTrigger);

        ScrollTrigger.defaults({
            toggleActions: "restart pause resume reverse",
            markers: true
        });

        // Bars Animation
        let barsArray = document.querySelectorAll(".skill_bar");
        let barsContainerArray = document.querySelectorAll(".skill");

        // Animating Container of the Bar
        for (var i = 1; i < barsContainerArray.length; i++)
        {
            gsap.from(barsContainerArray[i], {
                scrollTrigger: {
                    trigger: barsContainerArray[i],
                    start: "top 80%",
                    toggleActions: "play pause none none"
                },
                y: 100,
                opacity: 0,
                duration: 2,
                ease: "power4.out"
            });
        }

        // Animating Bar
        for (var i = 1; i < barsArray.length; i++)
        {
            gsap.from(barsArray[i], {
                scrollTrigger: {
                    trigger: barsArray[i],
                    start: "top 80%",
                    toggleActions: "play pause none none"
                },
                width: 0,
                duration: 2,
                delay: 0.5,
                ease: "power4.out"
            });
        }
        
        // SubSections Animation
        // First Subsection
        gsap.from(".soft_skills", {
            scrollTrigger: {
                trigger: ".side_skills_wrapper",
                start: "top center",
                end: "bottom center"
            },
            x: -100,
            opacity: 0,
            duration: 2,
            ease: "power4.out"            
        });
        gsap.from(".side_skills", {
            scrollTrigger: {
                trigger: ".side_skills_wrapper",
                start: "top center",
                end: "bottom center"
            },
            x: 100,
            opacity: 0,
            duration: 2,
            delay: 0.25,
            ease: "power4.out"
        });
        // Second Subsection
        gsap.from(".study_planning_skills", {
            scrollTrigger: {
                trigger: ".wannaknow_skills",
                start: "top 80%",
            },
            x: -100,
            opacity: 0,
            duration: 2,
            ease: "power4.out"
        });
        gsap.from(".other_skills", {
            scrollTrigger: {
                trigger: ".wannaknow_skills",
                start: "top 80%",
            },
            x: 100,
            opacity: 0,
            duration: 2,
            delay: 0.25,
            ease: "power4.out"
        });
    </script> <!-- END SCRIPT -->
</section> <!-- END SECTION -->
{% endblock %}