/********************
    General Styles
*********************/
* {
    caret-color: transparent;
    box-sizing: border-box;
}
body {
    color: #ffffff;
    background-color: #161616;
}
.footer, .header {
    position: relative;
    font-family: "Courier New", Courier, monospace;
    background-color: #121212;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 1;
}
.footer {
    width: 100%;
}
.footer p {
    text-align: center;
    font-size: 12px;
    padding-top: 1rem;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: fit-content;
    padding-top: 1.1rem;
    font-size: 1.1rem;    
}
ul, ol, li {
    list-style-type: none;
}
h1 {
    font-family: Copperplate, Papyrus, fantasy;
}
section {
    /* border: 1px solid red; */
    background-color: #484848;
    height: 100vh;
    width: min(100% - 30rem);
    margin-inline: auto;
    position: relative;
}

/* 
    Index Sections
 */
 /* Section 1 - Text Section */
section .section_container {
    /* border: 1px solid red; */
    position: relative;
    left: 50%;
    top: 45%;
    height: min(100% - 30rem);
    width: min(100% - 10rem);
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;

}
.section_container .text_container {
    height: fit-content;
    margin-top: 3rem;
}
.text_container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Tahoma";
    font-weight: 100;
    font-size: 3rem;
    line-height: 1.5;
    text-transform: uppercase;
}
.text_container p {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    margin: 2rem;
}
h1 .special_text {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 0;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s;
}
.special_text:hover {
    margin-left: 2rem;
}
.text .symbol {
    font-size: 7rem;
    color: #ff7417;
    margin-right: 15px;
    -webkit-text-stroke: 2px #202020;
}
.text .letter {
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke: 4px #202020;
    display: inline-block;
}
.text .letter::before {
    content: attr(data-text);
    position: absolute;
    color: #ff7417;
    height: 20%;
    overflow: hidden;
    transition: all 0.5s;
}
.text .letter:hover::before, .text .letter_bouncing {
    height: 100%;
    animation-name: bounce;   
    
}   
/* .text .letter:hover {    
    cursor: pointer;
    color: #ff7417;  
    text-shadow: 0 0 10px #ff7417;
} */
h1 .adjectives_container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 700px;
}
.adjectives_container .adjectives {
    background-color: #ff7417;
    color: #202020;
    display: block;
    font-size: 3rem;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 7.5%;
    animation: openclose 5s ease-in-out infinite;
}
.diff_color {
    color: #ff7417;
}
/* Section 1 - Img Section */
.section_container .img_container {
    /* border: 1px solid blue; */
    position: absolute;
    right: 0;
    height: fit-content;
    transition: 0.3s;
}
.section_container .img_container {
    position: absolute;
    display: inline-block;
}
.img_container .tooltip {
    color: white;
    background-color: #202020;
    border-radius: 6px;
    bottom: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 25%;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    transition: opacity 0.3s;   
    width: fit-content;
    z-index: 1;
}
.img_container .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #202020 transparent transparent transparent;
}
.img_container:hover {
    cursor: pointer;
    transform: rotate(5deg) scale(1.1);
}
.img_container:hover .tooltip {
    cursor: auto;
    opacity: 1;
    
}
.tooltip a {
    text-decoration: none;
    color: #ff7417;
    text-transform: uppercase;
}
/************************/
/* Top navigation menu */
/**********************/
/* Top-nav setup */
.header_nav {
    margin-right: 2.5rem;
}
.nav_items {
    display: flex;
    flex-wrap: wrap;
}
li.item a {
    color: #ffffff;
    float: right;
    padding: 10px;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    transition: 0.3s;
    border-right: 1px solid #ff7417;
}
li.item a:hover {
    color: #ff7417;    
    font-size: 1.2rem;
}
li.item-disabled {
    color: #484848;
    float: right;
    padding: 10px;
    text-decoration: none;    
}
/* Switch Theme Button */                       
.switch_theme {
    position: relative;
    display: inline-block;    
    width: 50px;
    height: 25px;
}
.switch_theme input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch_theme_container {
    position: relative;  
    top: 7px;
    right: 15px; 
    height: fit-content;
    width: fit-content;
}
.slider {
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input:checked + .slider {
    background-color: #ff7417;
}
input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}
input:focus + .slider {
    box-shadow: 0 0 1px #ff7417;
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/**************/
/* Img setup */
/************/
#nav_img {
    cursor: pointer;
    position: fixed;
    left: 0%;
    margin: 1rem 2rem;
    top: 0%;    

    /* Animation Setup */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    transition: all 0.3s;
    z-index: 2;
}
/* Animation */
#nav_img:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    filter: drop-shadow(0 0 1px #fff);
}
/*************************
    Progress Nav Bar
*************************/
/* Bar Section */
.bar_empty {
    border: 1px solid black;
    position: inherit;
    height: 80%;
    left: 0;
    top: 60%;
    transform: translate(120%, -50%);
    width: 30%;        
    z-index: -1;
    
}
.bar_filling {
    position: inherit;
    width: 100%;
    height: 0%;
    background-color: #ff7417;
}
/* Dots Section */
#progress_bar_container {
    left: 1.5%;
    position: fixed;   
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.progress_nav {
    margin: 0;
    padding: 0;
    z-index: 1;
}
.progress_nav li {
    width: 15px;
    height: 15px;
    background-color: #242424;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 30px;
    transition: all 0.3s;
    z-index: 1;
}
.progress_nav li:hover, .progress_nav li.selected {
    transform: scale(2);
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
    border: 2px solid #ff7417;
    z-index: 1;
}
/* Labels Section */
.bar_labels_container {
    position: inherit;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    height: 100%;
}
.bar_labels_container li > p {
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 22px;
    transform: rotate(-25deg);
    transition: 0.3s;
    
}
.bar_labels_container li > p:hover {
    transform: rotate(-25deg) scale(1.2);
    color: #ff7417;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    cursor: pointer;
}
.bar_labels_container li.selected > p {
    transform: rotate(-25deg) scale(1.2);
    color: #ff7417;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

/*******************
    Footer Stuff
********************/
/* Social Section */
.social_container {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    /* border: 1px solid red;*/
}
.social_container a > img {
    padding: 0.1rem;
    transition: 0.3s;
}
.social_container a > img:hover {
    transform: scale(1.3);
}

/* 
    Keyframes
 */
/* IMG Bounce */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
	60% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
}
/* Letters Bounce */
@keyframes bounce_letter {
    20%,
    50%,
    80%,
    to {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1.75, 0.65);
    }
    45% {
        transform: scale(1.75, 0.65);
    }
    70% {
        transform: scale(1.25, 0.75);
    }
    90% {
        transform: scale(1.15, 0.85);
    }
}
/* Open Close */
@keyframes openclose {
    0% {
      top: -0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      /* width: 230px; */
      width: 600px;
    }
    30% {
      top: -0.2rem;
      width: 600px;
    }
    33% {
      top: -0.2rem;
      width: 0;
    }
    35% {
      top: -0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 130px;
    }
    62% {
      top: -4.5rem;
      width: 130px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 490px;
    }
    95% {
      top: -9rem;
      width: 490px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
