/*******************/
/* Document style */
/*****************/
body {
    color: #ffffff;
    background-color: #161616;
}
ul, ol, li {
    list-style-type: none;
}

/************************/
/* Top navigation menu */
/**********************/

/* Top-nav setup */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.header_nav {
    margin-right: 5rem;
}
.nav_items {
    display: flex;
}
li.item a {
    color: #ffffff;
    float: right;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    transition: 0.3s;
}
li.item a:hover {
    color: #ff7417;    
    font-size: 27px;
}
li.item-disabled {
    color: #484848;
    float: right;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    
}

/**************/
/* Img setup */
/************/

#nav_img {
    width: 150px;
    height: 150px;
    margin: 2rem;
    background: url("../imgs/nav-img.png") no-repeat;
    background-size: 150px 150px;
    background-position: 0px 0px;
    transition: 0.3s;
    cursor: pointer;
    /* Animation Setup */
    position: fixed;
    top: 0%;
    left: 0%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
/* Img change on mouse hover */
#nav_img:hover {
    background: url("../imgs/nav-img-hover.png") no-repeat;
    background-size: 150px 150px;
    background-position: 0px 0px;

    /* Animation Setup */
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}
/* Img Animation: bouncing */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
	60% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
}
/* If clicked, switch to active */
#nav_img.active {
    background: url("../imgs/nav-img-hover.png") no-repeat;
    background-size: 150px 150px;
    background-position: 0px 0px;
}

/******************************************/
/* Side Menu: sends user to page content */
/****************************************/

#mySidenav {
    height: auto; /* As big as many links */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 15rem; 
    left: 0;
    background-color: #242424; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1)
}
#mySidenav.active
{
    width: 250px;
}
/* Side menu links */
#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    border-bottom: 1px solid #ff7417;
    transition: 0.3s;
} 
/* When mouseover, change color and add border */
#mySidenav a.side-item:hover {
    border-left: 10px solid #ff7417;
    background-color: rgba(255, 116, 23, 0.1);
    color: #ff7417;
}
#mySidenav a.side-item-disabled {
    background-color: #121212;
    color: #363636;
    border-bottom: 0px;
}


/******************/  
/* Media changes */
/****************/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}