/*******************/
/* Document style */
/*****************/
body {
    color: #ffffff;
    background-color: #121212;
}

/************************/
/* Top navigation menu */
/**********************/

/* Top-nav setup */
.top-nav {
    height: auto;
    width: auto;
    padding-right: 5%;
}
/* Items of top-nav setup */
.top-nav > .item {
    color: #ffffff;
    float: right;
    margin: 10px 20px 0px 0px;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s;
}
/* Items on hover */
.top-nav > .item:hover {
    color: #ff7417;
    font-size: 27px;
}
/* Items disabled */
.top-nav > .item-disabled {
    float: right;
    margin: 10px 20px 0px 0px;
    font-size: 25px;
    text-decoration: none;
    color: #363636;
}

/**************/
/* Img setup */
/************/

#nav_img {
    width: 150px;
    height: 150px;
    margin: 2rem;
    background: url("../imgs/nav-img.png") no-repeat;
    background-size: 150px 150px;
    background-position: 0px 0px;
    transition: 0.3s;
    cursor: pointer;
    /* Animation Setup */
    position: fixed;
    top: 0%;
    left: 0%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
/* Img change on mouse hover */
#nav_img:hover {
    background: url("../imgs/nav-img-hover.png") no-repeat;
    background-size: 150px 150px;
    background-position: 0px 0px;

    /* Animation Setup */
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}
/* Img Animation: bouncing */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
	60% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
}
/* If clicked, switch to active */
#nav_img.active {
    background: url("../imgs/nav-img-hover.png") no-repeat;
    background-size: 150px 150px;
    background-position: 0px 0px;
}

/******************************************/
/* Side Menu: sends user to page content */
/****************************************/

#mySidenav {
    height: auto; /* As big as many links */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 15rem; 
    left: 0;
    background-color: #242424; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1)
}
#mySidenav.active
{
    width: 250px;
}
/* Side menu links */
#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    border-bottom: 1px solid #ff7417;
    transition: 0.3s;
} 
/* When mouseover, change color and add border */
#mySidenav a:hover {
    border-left: 10px solid #ff7417;
    background-color: rgba(255, 116, 23, 0.1);
    color: #ff7417;
}

#toggle {
    position: fixed;    
    top: 60px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #ff7417;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
}
#toggle::before {
    content:"";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #363636;
    transform: translateY(-5px);
    transition: 0.3s;
}
#toggle::after {
    content:"";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #363636;
    transform: translateY(5px);
    transition: 0.3s;
}
#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

/******************/  
/* Media changes */
/****************/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}