{% extends "en/layout.html" %}

{% block lang %}
lang="en"
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../../static/css/contacts-css/contacts-css.css" />
{% endblock %}

{% block title %}
Mail Sent
{% endblock %}

{% block main %}
<section class="page_section">
    <div class="flex-container boxed-container vertical-row width-100 padding-left-s padding-right-s align-center" style="height: 100vh;">
        <!-- START TITLE__WRAPPER -->
        <div class="title__wrapper padding-bottom-s padding-top-m">
            <h2>
                <!-- SPECIAL TEXT START -->
                <div class="special_text_2 contacts">
                    <span>M</span>
                    <span>A</span>
                    <span>I</span>
                    <span>L&nbsp;</span>
                    <span>S</span>
                    <span>E</span>
                    <span>N</span>
                    <span>T</span>
                </div> <!-- SPECIAL TEXT END-->
            </h2>
        </div> <!-- END TITLE -->
        <p>Thanks for contacting me! I'll reply to you as soon as possible!</p>
        <p>You'll be redirected to the Home Page in 5 seconds or you can click <a href="/en/home" class="a-hover-contacts main-text-color">HERE</a>.</p>
    </div>

    <script src="../../static/js/contacts-js/redirect.js"></script>

</section>
{% endblock %}

{% block language_change %}
<p id="language_change"><a href="/it/home">Italian</a> | <a href="/en/home">English</a></p>
{% endblock %}
