{% extends "en/layout.html" %}

{% block lang %}
lang="en"
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../../static/css/skills-css/skills-css.css" />
{% endblock %}

{% block title %}
Skills
{% endblock %}

{% block main %}
<!-- SECTION START -->
<section class="page_section">
    <!-- SECTION CONTAINER START -->
    <div class="flex-container vertical-row boxed-container margin-left-auto margin-right-auto padding-top-xl">
        <!-- TEXT CONTAINER START -->
        <div class="text_container margin-all-s">
            <!-- START MAIN__TEXT SKILLS  -->
            <div class="main__text margin-bottom-m">
                <!-- TITLE -->
                <h2>
                    <div class="special_text_2 margin-bottom-s">
                        <span>S</span>
                        <span>K</span>
                        <span>I</span>
                        <span>L</span>
                        <span>L</span>
                        <span>S</span>
                    </div>
                </h2> <!-- END TITLE-->
                <!-- DESCRIPTION START -->
                <p class="paragraph">In my various studies, I've learnt many programming languages, both for the front and the back end, and I can tell you that I will <b>never</b> stop learning new and fresh skills.</p>
                <p class="paragraph">My personal opinion is that no one in the world, even if he could dedicate his entire life to it, would be able to know <i>everything</i> of a particular argument or skill. Maybe is an unpopular one, but I strongly believe it.</p>
                <p class="paragraph">Particularly in Computer Science, the amount of stuff that we all can learn and improve at, is <b>SO</b> big that we can never stop learning.</p>
                <p class="paragraph">That's why, telling that "I know this thing" in Computer Science is not accurate, at least for me. You can say "I know <i>this part</i> of that thing", but knowing one thing entirely, it's never gonna happen. And by entirely I mean <i>really</i> entirely: every application of every library, every function, every class... No way.
                <p class="paragraph">So, that said, when I list my skills, I mean that I have, more or less, a strong base of how that language works, how to implement logic and data structures and how to handle problems with it, and that's also why every language you'll see on the graphic won't cap the progress bar: there's always something new to learn or something to get better at, in every given language.</p>
                <p class="paragraph">Here are my programming skills and also something more. Hope that this can help you understand what I'm capable of 😉</p>    
                <!-- END DESCRIPTION -->
            </div> <!-- END MAIN__TEXT SKILLS -->
            <!-- PROGRESS__BARS -->
            <div class="flex-container row flex-wrap justify-center width-100" id="skill-progress-bars">
                <div class="skill width-75" id="sb_c_bar">
                    <h3>C</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_c"></span> <!-- C (95%) -->
                </div>  
                <div class="skill width-75">
                    <h3>C++</h3>
                     <span class="skill-bar flex-container height-100 width-100" id="sb_cpp"></span> <!-- C++ (10%) -->
                 </div>
                 <div class="skill width-75">
                     <h3>C#</h3>
                     <span class="skill-bar flex-container height-100 width-100" id="sb_csharp"></span><!-- C# (50%) -->
                 </div>              
                <div class="skill width-75">
                    <h3>PYTHON</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_py"></span><!-- PYTHON (85%) -->
                </div>               
                <div class="skill width-75">
                    <h3>JAVA</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_java"></span><!-- JAVA (5%) -->
                </div>
                <div class="skill width-75">
                    <h3>SQL</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_sql"></span><!-- SQL (70%) -->
                </div>
                <div class="skill width-75">
                    <h3>HTML</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_html"></span> <!-- HTML (80%)-->
                </div>             
                <div class="skill width-75">
                    <h3>CSS</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_css"></span><!-- CSS (60%) -->
                </div>                
                <div class="skill width-75 margin-bottom-m">
                    <h3>JAVASCRIPT</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_js"></span><!-- JAVASCRIPT (35%) -->
                </div>                
            </div> <!-- END PROGRESS WRAPPER -->
            
            <p class="padding-top-xl padding-bottom-m paragraph">As I told you before, I'll indicate to you also my soft and secondary skills too:</p>  
            
            <!-- SIDE SKILLS WRAPPER STARTS -->
            <div class="skills-wrapper flex-container row flex-wrap justify-center width-100" id="side-skills-wrapper">
                <!-- SOFT SKILLS STARTS -->
                <div class="width-25 width-lg-50 width-md-100" id="soft-skills">
                    <h3 class="margin-bottom-s">Soft Skills</h3>
                    <ul>
                        <li>
                            <span class="diff_color">Problem Solving</span><br /> I'm good at finding solutions to problems, inside or outside the workplace.
                        </li>
                        <li>
                            <span class="diff_color">Autonomy</span><br /> I'm good at ending tasks alone, if it's needed.
                        </li>
                        <li>
                            <span class="diff_color">Critical-thinking</span><br /> I'm good at guessing the pros and cons of situations, and good at self-criticizing in case of error or different point of view.
                        </li>
                        <li>
                            <span class="diff_color">Focussed</span><br /> When on a task, nothing can distract me from my goal.
                        </li>
                        <li>
                            <span class="diff_color">Competitive</span><br /> I try to be the best in everything I do in life. That's why I give all my-self for reaching the goal and also why I work well in teams: the goal is more important then everything else, and teams' members can (and will) cooperate to reach it.
                        </li>
                        <li>
                            <span class="diff_color">Communication</span><br /> My cooking experience has left me with some ehanced soft-skills. Communication is one of them, because we had to communicate fast and precisely what to do and how to do it in the best way.
                        </li>
                        <li>
                            <span class="diff_color">Team Working</span><br /> Linking this with the previous soft skill, Team Working has been enhanced by my cooking experience. We were a solid team that had to work as a gear to work well and to reach the goal every single service.
                        </li>
                        <li>
                            <span class="diff_color">Precision</span><br /> Precision is satisfying when is reached, and that's why I look for it in tasks that I work to.
                        </li>
                        <li>
                            <span class="diff_color">Pressure Handling / Work Under Pressure</span><br /> Another soft skill enhanced by my cooking experience. Every service was stressful, and we had to fight through it and transform it into energy to go ahead and reach goals.
                        </li>

                    </ul>
                </div> <!-- END SOFT_SKILLS -->
                <!-- SIDE SKILLS START -->
                <div class="width-25 width-lg-50 width-md-100" id="side-skills">
                    <h3 class="margin-bottom-s">Side Skills</h3>
                    <ul>
                        <li>
                            <span class="diff_color">Computer Builder</span><br /> Good at building a computer from single hardware components. Good at choosing hardware components based on the task that the computer has to assolve.
                        </li>
                        <li>
                            <span class="diff_color">Computer Technician</span><br /> Good at finding solutions at computer problems. Good at using line of command interface.
                        </li>
                        <li>
                            <span class="diff_color">Advanced -  Microsoft Office User</span><br /> Advanced level of Microsoft Office's programs user (Excel and Access mainly).
                        </li>
                        <li>
                            <span class="diff_color">Intermediate - Photoshop User</span><br /> Intermediate level Photoshop's user. Still working on improving it.
                        </li>
                        <li>
                            <span class="diff_color">Intermediate - DaVinci Resolve User</span><br /> Intermediate level DavVinci Resolve's user. Know how to do basical video editing and effects.
                        </li>
                        <li>
                            <span class="diff_color">Beginner - CISCO Networks Devices Programmer</span><br /> I studied how to program CISCO Network Devices at school. Not really skilled in this, have to (and will) improve it.
                        </li>
                    </ul>
                </div> <!-- END SIDE SKILLS -->
            </div> <!-- END SIDE_SKILLS_WRAPPER -->

            <p class="padding-top-m padding-bottom-m paragraph">And to end this, here are the skills that I'm interested in learning. Hope you can see it in the top list soon!</p>

            <!-- WANNAKNOW_SKILLS START -->
            <div class="skills-wrapper flex-container row flex-wrap justify-center width-100 padding-bottom-m" id="wannaknow-skills">
                <!-- STUDY_PLANNING_SKILLS START -->
                <div class="width-25 width-lg-50 width-md-100" id="study-planning">
                    <h3 class="margin-bottom-s">Study Planning</h3>
                    <ul>
                        <li>Angular</li>
                        <li>Blockchain programming</li>
                        <li>Node.js</li>
                        <li>PHP</li>
                        <li>R</li>
                        <li>React</li>
                        <li>Swift</li>
                    </ul>
                </div> <!-- END study_planning_skills-->
                <!-- OTHER SKILLS STARTS -->
                <div class="width-25 width-lg-50 width-md-100" id="other-skills">
                    <h3 class="margin-bottom-s">Other Wanna-Know Skills</h3>
                    <ul>
                        <li>AI programming & ML Programming</li>
                        <li><i>Arduino</i> programming</li>
                        <li>Cybersecurity & Ethical Hacking</li>
                        <li>Home Automation</li>
                        <li>Robotics</li>
                        <li>Telecomunication and Network Expert</li>
                    </ul>
                </div> <!-- END OTHER SKILLS-->
            </div> <!-- END WANNAKNOW_SKILLS-->
        </div> <!-- END TEXT CONTAINER --> 
    </div> <!-- END SECTION CONTAINER-->

    <script src="../../static/js/skills-js/skills-js.js"></script>

</section> <!-- END SECTION -->
{% endblock %}

{% block language_change %}
<p id="language_change"><a href="/it/skills">Italian</a> | <a href="/en/skills">English</a></p>
{% endblock %}