.hidden-normal {
    display: none;
}
/* RESIZING MEDIA QUERIES */
@media screen and (max-width: 1870px)
{
    #hero-image {
        display: none;
    }
    .width-special-100 {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 1466px)
{
    .width-special-project-50 {
        width: 50%;
    }
    .width-special-project-100 {
        width: 100%;
    }
    .margin-left-right-auto-special {
        margin: 0 auto;
    }
    .justify-center-special {
        justify-content: center;
    }
    .padding-top-special-project {
        padding-top: 2rem;
    }
}
/* LQ Desktop (XL) */
@media screen and (max-width: 1280px)
{
    /* WIDTHS */
    .width-xl-100 {
        width: 100%;
    }
    .width-xl-80 {
        width: 80%;
    }
    .width-xl-75 {
        width: 75%;
    }
    .width-xl-66 {
        width: 66.666%;
    }
    .width-xl-50 {
        width: 50%;
    }
    .width-xl-33 {
        width: 33.333%;
    }
    .width-xl-25 {
        width: 25%;
    }
    .width-xl-20 {
        width: 20%;
    }
    .width-xl-16 {
        width: 16.666%;
    }
    /* END WIDTHS */
    /* HEIGHTS */
    .height-xl-100 {
        height: 100%;
    }
    .height-xl-80 {
        height: 80%;
    }
    .height-xl-75 {
        height: 75%;
    }
    .height-xl-66 {
        height: 66.666%;
    }
    .height-xl-50 {
        height: 50%;
    }
    .height-xl-33 {
        height: 33.333%;
    }
    .height-xl-25 {
        height: 25%;
    }
    .height-xl-20 {
        height: 20%;
    }
    .height-xl-16 {
        height: 16.666%;
    }

    /* CONTEXTUAL RESIZE STARTS */
    .justify-center-xl {
        justify-content: center;
    }
    #progress_bar_container {
        display: none;
    }
    .padding-bottom-xl-66-m {
        padding-bottom: 5rem;
    }
    .padding-right-xl-66-none {
        padding-right: 0;
    }
    .padding-left-xl-none {
        padding-left: 0;
    }
    /* CONTEXTUAL RESIZE ENDS */
}

/* Tablet High (LG) */
@media screen and (max-width: 1024px)
{
    /* WIDTHS */
    .width-lg-100 {
        width: 100%;
    }
    .width-lg-80 {
        width: 80%;
    }
    .width-lg-75 {
        width: 75%;
    }
    .width-lg-66 {
        width: 66.666%;
    }
    .width-lg-50 {
        width: 50%;
    }
    .width-lg-33 {
        width: 33.333%;
    }
    .width-lg-25 {
        width: 25%;
    }
    .width-lg-20 {
        width: 20%;
    }
    .width-lg-16 {
        width: 16.666%;
    }
    /* END WIDTHS */
    /* HEIGHTS */
    .height-lg-100 {
        height: 80%;
    }
    .height-lg-80 {
        height: 80%;
    }
    .height-lg-75 {
        height: 75%;
    }
    .height-lg-66 {
        height: 66.666%;
    }
    .height-lg-50 {
        height: 50%;
    }
    .height-lg-33 {
        height: 33.333%;
    }
    .height-lg-25 {
        height: 25%;
    }
    .height-lg-20 {
        height: 20%;
    }
    .height-lg-16 {
        height: 16.666%;
    }

    /* CONTEXTUAL RESIZE STARTS */

    .adjectives_container .adjectives,
    .adjectives_container span,
    h1 .title {
        font-size: 3rem;
    }
    .special_text_2 span {
        font-size: 5rem;
    }
    .aboutme_form h3,
    .contacts_form h3 {
        font-size: 2rem;
    }
    .aboutme_form p, 
    .contacts_form p, 
    .contacts_form a,
    .paragraph {
        font-size: 1.6rem;
    }
    
    @keyframes openclose {
        0% {
          top: -0.1rem;
          width: 0;
        }
        5% {
          width: 0;
        }
        15% {
          width: 37rem;
        }
        30% {
          top: -0.1rem;
          width: 37rem;
        }
        33% {
          top: -0.1rem;
          width: 0;
        }
        35% {
          top: -0.1rem;
          width: 0;
        }
        38% {
          top: -4.6rem;
          
        }
        48% {
          top: -4.6rem;
          width: 8rem;
        }
        62% {
          top: -4.6rem;
          width: 8rem;
        }
        66% {
          top: -4.6rem;
          width: 0;
          text-indent: 0;
        }
        71% {
          top: -9rem;
          width: 0;
        }
        86% {
          top: -9rem;
          width: 30rem;
        }
        95% {
          top: -9rem;
          width: 30rem;
        }
        98% {
          top: -9rem;
          width: 0;
        }
        100% {
          top: 0;
          width: 0;
          text-indent: 0;
        }
      }

    .column-lg {
        flex-direction: column;
    }
    .display-none-lg {
        display: none;
    }
    .header_nav,
    .top_nav, 
    .nav_items {
        display: none;
    }
    .margin-auto-lg {
        margin: 0 auto;
    }
    .menu__button {
        visibility: visible;
    }
    .padding-bottom-lg-m {
        padding-bottom: 5rem;
    }
    .switch_theme_container {
        display: none;
    }
    .text-align-lg {
        text-align: center;
    }
    .text-center-lg {
        text-align: center;
    }
    /* CONTEXTUAL RESIZE ENDS */
}
/* Tabled Low (MD) */
@media screen and (max-width: 768px)
{
    /* WIDTHS */
    .width-md-100 {
        width: 100%;
    }
    .width-md-80 {
        width: 80%;
    }
    .width-md-75 {
        width: 75%;
    }
    .width-md-66 {
        width: 66.666%;
    }
    .width-md-50 {
        width: 50%;
    }
    .width-md-33 {
        width: 33.333%;
    }
    .width-md-25 {
        width: 25%;
    }
    .width-md-20 {
        width: 20%;
    }
    .width-md-16 {
        width: 16.666%;
    }
    /* END WIDTHS */
    /* HEIGHTS */
    .height-md-100 {
        height: 100%;
    }
    .height-md-80 {
        height: 80%;
    }
    .height-md-75 {
        height: 75%;
    }
    .height-md-66 {
        height: 66.666%;
    }
    .height-md-50 {
        height: 50%;
    }
    .height-md-33 {
        height: 33.333%;
    }
    .height-md-25 {
        height: 25%;
    }
    .height-md-20 {
        height: 20%;
    }
    .height-md-16 {
        height: 16.666%;
    }
    /* CONTEXTUAL RESIZE STARTS */
    .letter {
        font-size: 7rem;
    }
    .gmap_canvas {
        width: 40rem;
        height: 30rem;
    }
    .mapouter {
        width: 40rem;
        height: 30rem;
    }
    .symbol {
        font-size: 7rem;
    }
   
    .padding-left-md-s {
        padding-left: 2rem;
    }
    .padding-left-md-none {
        padding-left: 0;
    }
    .width-md-66-padding-personal {
        width: 66%;
        padding-bottom: 70%;
        position: relative
    }
    .width-md-66-padding-hobby {
        width: 66%;
        padding-bottom: 60%;
        position: relative;
    }
    .font-size-md-m span {
        font-size: 4rem;
    }
    .font-size-md-s a {
        font-size: 2.25rem;
    }
    /* CONTEXTUAL RESIZE ENDS */
}
/* Smartphone (XS) */
@media screen and (max-width: 560px)
{
    /* WIDTHS */
    .width-xs-100 {
        width: 100%;
    }
    .width-xs-80 {
        width: 80%;
    }
    .width-xs-75 {
        width: 75%;
    }
    .width-xs-66 {
        width: 66.666%;
    }
    .width-xs-50 {
        width: 50%;
    }
    .width-xs-33 {
        width: 33.333%;
    }
    .width-xs-25 {
        width: 25%;
    }
    .width-xs-20 {
        width: 20%;
    }
    .width-xs-16 {
        width: 16.666%;
    }
    /* END WIDTHS */
    /* HEIGHTS */
    .height-xs-100 {
        height: 100%;
    }
    .height-xs-80 {
        height: 80%;
    }
    .height-xs-75 {
        height: 75%;
    }
    .height-xs-66 {
        height: 66.666%;
    }
    .height-xs-50 {
        height: 50%;
    }
    .height-xs-33 {
        height: 33.333%;
    }
    .height-xs-25 {
        height: 25%;
    }
    .height-xs-20 {
        height: 20%;
    }
    .height-xs-16 {
        height: 16.666%;
    }
}