{% extends "it/layout.html" %}

{% block lang %}
lang="it"
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../../static/css/about-me-css/about-me-css.css" />
{% endblock %}

{% block title %}
Su di Me
{% endblock %}

{% block main %}
<!-- ABOUT ME PAGE STARTS -->
<section class="page_section boxed-container">
    <!-- SECTION CONTAINER STARTS -->
    <div class="flex-container vertical-row justify-center padding-top-xl">
        <!-- Start "MAIN TEXT" -->
        <div class="main__text about_me padding-right-s padding-left-s">
            <!-- Title -->
            <h2>
                <div class="special_text_2 margin-bottom-s">
                    <span>S</span>
                    <span>U&nbsp;</span>
                    <span>D</span>
                    <span>I&nbsp;</span>
                    <span>M</span>
                    <span>E</span>
                </div>               
            </h2> <!-- End Title-->
            <!-- Description -->
            <div class="paragraph-wrapper">
                <p class="paragraph">Benvenuti, amici visitatori! Se siete arrivati su questa pagina è perché, probabilmente, volete conoscermi meglio. Bhe, siete nel posto giusto!<br>Sedetevi e mettetevi comodi: sto per raccontarvi una bella fetta della mia vita!</p>
                <p class="paragraph">Incomincerò presentandomi: sono Simone Molino, ho 26 anni e vengo da Milano, in Italia.</p>
                <p class="paragraph">Se dovessi descrivermi brevemente, posso dirvi che sono un semplice ragazzo INFP con mindset scientifico, ateo, femminista e politicamente neutrale. Oh si! Quasi dimenticavo: appassionato di tecnologia ed informatica fin da bambino, ed è proprio questa passione che mi ha portato, nel corso del tempo, a intraprendere studi tecnico-scientifici orientati all'informatica.</p>
                <p class="paragraph">Fin da piccolo sono sempre stato un cosiddetto "smanettone" (o "nerd" se preferite). Il classico ragazzino che preferiva stare in casa davanti ad un dispositivo elettronico piuttosto che uscire a giocare a pallone con gli amici (<span>spoiler</span>: è ancora così). Infatti, molte ore della giornata le spendevo davanti al computer a smanettare sui vari programmi e le varie funzionalità che i programmi ed i sistemi operativi dell'epoca mi offrivano. E si, lo so che ve lo state chiedendo: anche a giocare. Dopotutto, ero pur sempre un bambino! (<span>altro spoiler</span>: non fu una "fase da bambino" 😝)</p>
                <p class="paragraph">Incominciai comprendendo come l'interfaccia a linea di comando funzionava e che c'erano interi sistemi operativi e programmi basati completamente su quella tecnologia. Scoprì che il mouse era una periferica di cui si poteva fare benissimo a meno, e scoprì il fascino ed il funzionamento di creare piccoli programmi batch con istruzioni DOS, che se mi chiedeste adesso non mi ricorderei nemmeno: è passato davvero tanto tempo!</p>
            </div>
            <!-- IMG CAROUSEL -->
            <div class="carousel-wrapper flex-container row-reverse flex-wrap justify-space-between">
                <!-- CAROUSEL STARTS -->
                <div class="carousel personal width-25 width-xl-33 width-lg-50 width-md-66-padding-personal position-relative padding-all-s border-rounded margin-left-auto margin-right-auto">
                    <!-- IMG WRAPPER STARTS -->
                    <div class="img-wrapper about_me personal border-rounded">
                        <!-- Type of Image: Personal -->
                        <div class="personal img position-absolute">
                            <img src="../../static/imgs/about-me-imgs/personal1.png" alt="Personal IMG 1" class="border-rounded" />
                        </div>
                        <div class="personal img position-absolute">
                            <img src="../../static/imgs/about-me-imgs/personal2.png" alt="Personal IMG 2" class="border-rounded"/>
                        </div>
                        <div class="personal img position-absolute">
                            <img src="../../static/imgs/about-me-imgs/personal3.png" alt="Personal IMG 3" class="border-rounded"/>
                        </div>
                        <div class="personal img position-absolute">
                            <img src="../../static/imgs/about-me-imgs/personal4.png" alt="Personal IMG 4" class="border-rounded"/>
                        </div>
                        <div class="personal img position-absolute">
                            <img src="../../static/imgs/about-me-imgs/personal5.png" alt="Personal IMG 5" class="border-rounded"/>
                        </div>
                    </div> <!-- IMG WRAPPER ENDS -->
                </div> <!-- CAROUSEL ENDS -->

                
                
                <div class="paragraph-wrapper width-75 width-xl-66 width-lg-50 width-md-100">
                    <p class="paragraph">Successivamente, quando l'avanzamento con gli studi me lo concesse, iniziai seriamente a studiare informatica alle superiori. Così, mi diplomai come Perito Informatico e intrapresi (ma sfortunatamente mai conclusi) studi universitari all'università Bicocca di Milano. Tramite gli studi di quegli anni, approfondì la mia conoscenza riguardante l'ingenierizzazione, le strutture di basso livello ed il funzionamento dei computer e dei dispositivi elettronici, studiai ed imparai linguaggi di programmazione, di formattazione e di interrogazione dei database, come C, HTML / CSS e SQL, persino Assembly (per processori Intel x8086), ed infine imparai come le infrastrutture di rete e di internet funzionano. All'università, capii meglio come funzionano gli algoritmi e la loro applicazione, e iniziai anche a studiare Java come linguaggio di programmazione aggiuntivo.</p>
                    <p class="paragraph">Sfortunatamente, la vita non va sempre come ce l'aspettiamo. Fu il mio caso, dato che dovetti affrontare, durante i miei studi, varie avversità che mi allontanarono da questa strada, e mi spinsero ad introdurmi nel mondo del lavoro. Fu così che iniziò la mia carriera culinaria.</p>
                    <p class="paragraph">Non fraintendetemi! Amo cucinare ed è un hobby che continuo a coltivare, ma dopo svariati anni posso dirvi, con estrema franchezza, che la cucina professionale è completamente differente del cucinare per hobby, e che "la via della cucina" non era di certo ciò che mi avrebbe trattenuto per sempre, perché le passioni, quelle veramente profonde, riaffiorano. Sempre.</p>
                    <p class="paragraph">E così fu! Svariati anni dopo, una volta stabilizzate quelle situazioni "scomode", ho deciso di tornare a studiare informatica. Dato che la mia età sta iniziando a diventare, passatemi il termine, "avanzata", sarebbe stato difficile tornare a completare gli studi universitari, soprattutto dopo tutto quel tempo di inattività. Quindi ho iniziato a riconnettermi a questo mondo tramite studio autonomo di libri e partecipando a corsi e bootcamp. Tramite questo approccio, ho approfondito ulteriormente le mie conoscenze pregresse e mi sono aggiornato sulle nuove tecnologie e i nuovi studi che avrebbero potuto essermi utili in un contesto lavorativo.</p>
                    <p class="paragraph">Non penserete mica che mi sia fermato, vero? Neanche per sogno! Persino mentre sto scrivendo questo articolo continuo a seguire e a cercare nuovi corsi, libri o qualsiasi cosa che mi possa portare ad apprendere nuove nozioni! E non ho la minima intenzione di fermarmi!</p>
                    <p class="paragraph">Ora che sono tornato in pista, sono davvero felice e motivato ad imparare quanto più possibile e di affrontare quante più sfide e problemi questo mondo ha da offrirmi con ciò che ho appreso!</p>
                    <p class="paragraph">Ho solo scalfito la punta dell'iceberg delle opportunità disponibili, e sono davvero entusiasta di poter continuare a scavarlo!</p>
                    <p class="paragraph">Sono <b>Simone Molino</b>, e sono fiero di essere <b>Programmatore</b>.</p>
                </div>
            </div>
            <!-- End DESCRIPTION -->
        </div> <!-- End "MAIN TEXT"-->

        <!-- SEPARATOR -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--bg-medium)" fill-opacity="1" d="M0,160L48,160C96,160,192,160,288,149.3C384,139,480,117,576,96C672,75,768,53,864,42.7C960,32,1056,32,1152,53.3C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

        <!-- "CURIOSITIES" Section -->
            <!-- START CURIOSITIES CONTAINER -->
            <div class="curiosities__wrapper width-100 flex-container vertical-row padding-bottom-xl padding-right-s padding-left-s bg-medium">
                <!-- Title -->
                <h2>
                    <div class="special_text_2 about_me curiosities">
                        <span>C</span>
                        <span>U</span>
                        <span>R</span>
                        <span>I</span>
                        <span>O</span>
                        <span>S</span>
                        <span>I</span>
                        <span>T</span>
                        <span>A'</span>
                    </div>
                </h2> <!-- End Title -->

                <!-- CURIOSITIES-CAROUSEL STARTS -->
                <div class="curiosities-carousel flex-container row width-100 flex-wrap-reverse">
                    <div class="carousel hobby width-25 width-xl-33 width-lg-50 width-md-66-padding-hobby position-relative padding-all-s border-rounded  margin-left-auto margin-right-auto">
                        <!-- IMG WRAPPER STARTS -->
                        <div class="img-wrapper about_me hobby border-rounded">
                            <!-- Type of Image: hobby -->
                            <div class="hobby img position-absolute">
                                <img src="../../static/imgs/about-me-imgs/hobby1.png" alt="Hobby IMG 1" class="border-rounded" />
                            </div>
                            <div class="hobby img position-absolute">
                                <img src="../../static/imgs/about-me-imgs/hobby2.png" alt="Hobby IMG 2" class="border-rounded" />
                            </div>
                            <div class="hobby img position-absolute">
                                <img src="../../static/imgs/about-me-imgs/hobby3.png" alt="Hobby IMG 3" class="border-rounded" />
                            </div>
                        </div> <!-- IMG WRAPPER ENDS -->
                    </div> <!-- CAROUSEL ENDS -->
                    <!-- CURIOSITIES-LIST STARTS -->
                    <div class="curiosities-list width-75 width-xl-66 width-lg-50 width-md-100 padding-top-m padding-left-m">
                        <ul>
                            <li>Sono anche un musicista: suono il basso dal 2014.</li>
                            <li>Ascolto davvero tutti i generi musicali, ma se dovessi sceglierne uno come mio preferito, selezionerei sicuramente il rock ed i suoi sotto generi.</li>
                            <li>Grande fan degli anime, tanto da aver suonato come bassista in una Cover Band di sigle di cartoni animati.</li>
                            <li>Sono stato uno studente di arti marziali per 5 anni e ho giocato a Basket dilettantistico per altri 6 anni.</li>
                            <li>Grande fan, anche, di documentari scientifici, soprattutto quelli relativi allo spazio. Sono sempre stato affascinato dall'universo e dai suoi misteri.</li>
                            <li>Quando non studio o programmo, amo giocare ai videogames o guardare serie TV e film.</li>
                            <li>Sono una persona abbastanza competitiva generalmente parlando, quindi tendo a voler essere il migliore in ciascuna attività che intraprendo. Ciò si riflette sia sulle attività di hobby sia su quelle lavorative. Forse detto in questo modo potrebbe risultare una cosa negativa, ma in realtà non lo è: se il mio obiettivo è arduo da raggiungere, metterò tutte le mie energie in quello che faccio per poterlo raggiungere, sia da solo che in team. Ecco perché posso far parte di un team in maniera produttiva: perché l'obiettivo è più importante dell'ego personale, ma sicuramente è solo una mia opinione personale.</li>
                            <li>Sono fidanzato con la mia anima gemella, Lisa, dal 2018 e stiamo pianificando di andare a vivere insieme.</li>
                        </ul> <!-- End of List of Curiosities-->
                    </div> <!-- CURIOSITIES-LIST ENDS -->
                </div> <!-- CURIOSITIES-CAROUSEL ENDS -->
            </div> <!-- End Curiosities Container-->
    </div> <!-- End "CURIOSITIES" Section -->

    <script src="../../static/js/about-me-js/about-me-js.js"></script>        

</section> <!-- END "SECTION_CONTAINER"-->
{% endblock %}

{% block language_change %}
<p id="language_change"><a href="/it/about-me">Italiano</a> | <a href="/en/about-me">Inglese</a></p>
{% endblock %}