{% extends "it/layout.html" %}

{% block lang %}
lang="it"
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../../static/css/contacts-css/contacts-css.css" />
{% endblock %}

{% block title %}
Contatti
{% endblock %}

{% block main %}
<section class="page_section">
    <!-- START SECTION_CONTAINER PROJECTS -->
    <div class="flex-container vertical-row flex-wrap width-100 align-center padding-top-m text-center" id="contacts-page">
        <!-- PAGE__WRAPPER STARTS -->
        <div class="flex-container boxed-container vertical-row width-100 padding-left-s padding-right-s align-center">
            {% if backEndTests == false %}
            <p class="desc padding-top-s" style="color: red;">E' stato riscontrato un errore quando il sistema ha provato a spedire l'e-mail. Per favore, riprova.</p>
            {% endif %}
            <!-- START TITLE__WRAPPER -->
            <div class="title__wrapper padding-bottom-s">
                <h2>
                    <!-- SPECIAL TEXT START -->
                    <div class="special_text_2 contacts">
                        <span>C</span>
                        <span>O</span>
                        <span>N</span>
                        <span>T</span>
                        <span>A</span>
                        <span>T</span>
                        <span>T</span>
                        <span>I</span>
                    </div> <!-- SPECIAL TEXT END-->
                </h2>
            </div> <!-- END TITLE -->
            
            <p class="desc padding-bottom-m">Potete contattarmi direttamente tramite questa form, o tramite social e telefono. Sono interessato a qualsiasi cosa, quindi procedete pure!</p>

            <!-- FORM STARTS  -->
            <!-- FORM CONTAINER - DIV__WRAPPER -->
            <div class="flex-container row bg-hard padding-all-s border-rounded width-50 width-xl-80 width-lg-100 box-shadow-color" id="contacts-form">
                <form action="/it/contacts" autocomplete="off" method="post" onsubmit="return FormClientValidation();"> 
                    <div class="flex-container vertical-row align-center">
                        <label for="name_input" class="padding-bottom-xs main-text-color">Nome</label>
                        <input type="text" id="name_input" name="name_input" class="input-text-style width-50 bg-medium bottom-margin" placeholder="Il tuo Nome" autofocus />
                        <p class="error-message padding-top-xs" id="name-error"></p>

                        <label for="surname_input" class="padding-top-s padding-bottom-xs main-text-color text-shadow-color">Cognome</label>
                        <input type="text" id="surname_input" name="surname_input" class="input-text-style width-50 bg-medium bottom-margin" placeholder="Il tuo Cognome" />
                        <p class="error-message padding-top-xs" id="surname-error"></p>

                        <label for="e-mail" class="padding-top-s padding-bottom-xs main-text-color text-shadow-color">E-mail</label>
                        <input type="email" id="e-mail" name="e-mail" class="input-text-style width-50 bg-medium bottom-margin" placeholder="La tua E-mail" />
                        <p class="error-message padding-top-xs" id="email-error"></p>

                        <label for="contact_info" class="padding-top-s padding-bottom-xs main-text-color text-shadow-color">Più Informazioni</label>
                        <textarea id="contact_info" name="contact_info" class="input-text-style margin-bottom-s bg-medium resize-vertical height-20 width-75 min-height" placeholder="Per cosa mi stai contattando?"></textarea>
                        <p class="error-message padding-top-xs" id="contact-info-error"></p>
                        
                        <button class="btn" type="submit">Invia</button>
                    </div>
                </form> <!-- FORM ENDS -->
            </div> <!-- END FORM CONTAINER - DIV__WRAPPER ENDS -->  
            <!-- OTHER CONTACTS -->
            <div class="boxed-container row justify-center width-100 padding-all-m" id="other-contacts">
                <!-- OTHER CONTACTS DIV__WRAPPER STARTS -->
                <div class="flex-container row flex-wrap justify-center width-75 width-lg-100">
                    <p class="width-50 width-lg-100"><span class="diff_color">Telefono</span> - +39 392 551 3237</p>
                    <p class="width-50 width-lg-100"><span class="diff_color">Social</span> - <a href="" target="_blank" class="a-hover-contacts secondary-text-color">Linkedin</a>, <a href="" target="_blank" class="a-hover-contacts secondary-text-color">GitHub</a>, <a href="" target="_blank" class="a-hover-contacts secondary-text-color">Instagram</a></p>
                </div> <!-- OTHER CONTACTS DIV__WRAPPER ENDS -->
            </div> <!-- OTHER CONTACTS ENDS -->
        </div> <!-- PAGE__WRAPPER ENDS -->       
    </div> <!-- END SECTION_CONTAINER PROJECT --> 

    <script src=".."></script>

</section> <!-- END SECTION -->
{% endblock %}

{% block language_change %}
<p id="language_change"><a href="/it/contacts">Italiano</a> | <a href="/en/contacts">Inglese</a></p>
{% endblock %}