{% extends "it/layout.html" %}

{% block lang %}
lang="it"
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../../static/css/index-css/index-css.css" />
<link rel="stylesheet" href="../../static/css/index-css/keyframes.css" />
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block main %}  
<!-- "PROGRESS BAR" -->
<div id="progress_bar_container">
    <!-- Buttons -->
    <div class="progress_nav" role="navigation">
        <li class="selected"></li>
        <li></li>
        <li></li>
        <li></li>
    </div> <!-- End Buttons -->
    <!-- "PROGRESSION BAR" -->
    <div class="bar_empty" id="bar_empty">
        <div class="bar_filling" id="bar_filling"></div>
    </div> <!-- End "PROGRESSION BAR" -->
    <!-- "LABELS" for nav bar -->
    <div class="bar_labels_container" role="navigation">
        <a href="#" class="selected"><li><p>Home</p></li></a>
        <a href="#about_me"><li><p>Su di Me</p></li></a>
        <a href="#projects"><li><p>Progetti</p></li></a>
        <a href="#contacts"><li><p>Contatti</p></li></a>
    </div> <!-- End "LABELS"-->
</div> <!-- End "PROGRESS BAR"-->   

<!-- "MAIN CONTENT" -->
<main class="main" id="main" role="main">
    <!-- "HERO" Section: title and Bitmoji -->
    <section class="page_section boxed-container margin-right-auto margin-left-auto" id="hero" role="hero">
        <!-- Container of the containers of the elements in the section -->
        <div class="flex-container row align-center justify-center width-100 padding-top-xl padding-left-s padding-right-s"> <!-- .section .section_container -->
            <!-- Container of the text part -->
            <div class="text_container flex-container justify-center hero width-50 width-xs-100 width-special-100">
                <!-- Title -->
                <div class="wrapper">
                    <h1 role="section-title">
                        <span class="title">Ciao a tutti! Sono</span>
                        <!-- My Name: bouncing and filling each letter -->
                        <div class="special_text flex-container column-lg">
                            <div class="name padding-right-s">
                                <span class="symbol">></span>
                                <span class="letter" data-text="S">S</span>
                                <span class="letter" data-text="I">I</span>
                                <span class="letter" data-text="M">M</span>
                                <span class="letter" data-text="O">O</span>
                                <span class="letter" data-text="N">N</span>
                                <span class="letter" data-text="E">E</span>
                            </div> <!-- &nbsp;-->
                            <div class="surname">
                                <span class="letter" data-text="M">M</span>
                                <span class="letter" data-text="O">O</span>
                                <span class="letter" data-text="L">L</span>
                                <span class="letter" data-text="I">I</span>
                                <span class="letter" data-text="N">N</span>
                                <span class="letter" data-text="O">O</span>
                            </div>
                            <br>
                        </div>
                        <!-- Cycling Words -->
                        <div class="adjectives_container flex-container">
                            <span>.</span>
                            <div class="adjectives">
                                <div>Software Developer</div>
                                <div>Guy</div>
                                <div>Challenge Lover</div>
                            </div>
                        </div>
                    </h1>
                    <!-- Underline -->
                    <div class="underline padding-top-s padding-left-s text-center-lg">
                        <p>Front-End <span class="diff_color">|</span> Back-End </p>
                    </div>
                </div>
            </div> <!-- End "text_container"-->
            <!-- Container of the image part -->
            <div class="img_container flex-container width-25" role="link" id="hero-image">
                <div class="wrapper margin-left-auto margin-right-auto">
                    <img src="../../static/imgs/index-imgs/index-home.png" alt="index-home.png" id="index-hero-img" />
                    <!-- Tooltip - Thanks to Bitmoji -->
                    <span class="tooltip" role="tooltip">
                        Grazie a
                        <a href="https://www.bitmoji.com/" target="_blank">bitmoji</a>
                        per gli Avatar!
                    </span>
                </div>      
            </div>
        </div>

        <div class="separator">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--bg-medium)" fill-opacity="1" d="M0,160L48,149.3C96,139,192,117,288,133.3C384,149,480,203,576,240C672,277,768,299,864,256C960,213,1056,107,1152,85.3C1248,64,1344,128,1392,160L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </div>

    </section> <!-- End "HERO" Section -->

    <!-- "ABOUT ME" Section: very short description + my photo -->
    <section class="page_section boxed-container" id="about_me" role="info">
        <div class="flex-container row flex-wrap justify-center-xl width-100">
            <!-- IMG First -->
            <div class="flex-container justify-end justify-center-xl width-50">
                <div class="wrapper about_me flex-container width-100 width-xl-66 width-md-80 width-xs-100 padding-bottom-xl-66-m padding-right-xl-66-none flex-container justify-end padding-right-m">
                    <div class="img_container_2">
                        <a href="/en/about-me"><img src="../../static/imgs/index-imgs/Me.png" alt="Me.png" class="border-rounded" /></a>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="flex-container align-center justify-center-xl width-33 width-xl-66 width-md-100">
                <div class="text_container_2 about_me width-100 padding-left-m padding-left-xl-none padding-left-md-s">
                    <!-- Biggest Title ever -->
                    <h2 role="section_title">
                        <div class="special_text_2">
                            <span>S</span>
                            <span>U&nbsp;</span>
                            <span>D</span>
                            <span>I&nbsp;</span>
                            <span>M</span>
                            <span>E</span>
                        </div>
                    </h1>
                    <!-- Form: Nome, Cognome, Età, Sesso, Cittadinanza, Cosa faccio -->
                    <div class="aboutme_form" role="info">
                        <h3>Nome:</h3><p>Simone</p><br>
                        <h3>Cognome:</h3><p>Molino</p><br>
                        <h3>Età:</h3><p>26</p><br>
                        <h3>Genere:</h3><p>Maschile</p><br>
                        <h3>Nazionalità:</h3><p>Italiana</p><br>
                        <h3>Chi sono:</h3><p>Sono uno studente senza fine di Informatica e un Software Developer sia per il Front-End che per il Back-End. Attualmente, sto tenendo corsi e studiando sia UI/UX che materiale di Machine Learning.</p>
                        <div class="button-wrapper about_me flex-container width-100 padding-top-s">
                            <form action="/about-me" method="get" class="margin-left-auto margin-right-auto">
                                <button class="btn">Scopri di Più</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--bg-hard)" fill-opacity="1" d="M0,160L48,149.3C96,139,192,117,288,133.3C384,149,480,203,576,240C672,277,768,299,864,256C960,213,1056,107,1152,85.3C1248,64,1344,128,1392,160L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </div>
    </section> <!-- End "ABOUT ME" Section --> 

    <!-- "PROJECTS" Section -->
    <section class="page_section boxed-container width-100 bg-hard" id="projects" role="info">
        <div class="flex-container vertical-row width-80 margin-left-auto margin-right-auto">
            <!-- Title -->
            <div class="text_container_3 projects">
                <h2 role="section_title">
                    <div class="special_text_2 projects padding-left-m">
                        <span>P</span>
                        <span>R</span>
                        <span>O</span>
                        <span>G</span>
                        <span>E</span>
                        <span>T</span>
                        <span>T</span>
                        <span>I</span>
                    </div>
                </h1>
            
                <p class="padding-left-m paragraph">Qui sotto troverete alcuni progetti a cui ho lavorato, o a cui sto tutt'ora lavorando:</p>

            </div>
            <!-- Projects view -->       
            <!-- Container for all projects -->
            <div class="projects_container flex-container flex-wrap justify-space-between position-relative width-100 padding-top-m">
                <!-- Class Project Container -->
                <div class="project text-center width-33 width-special-project-50 width-lg-100 padding-bottom-lg-m">
                    <h2 class="margin-bottom-xs">Progetto di Classe</h2>
                    <a href="/en/projects"><img src="../../static/imgs/index-imgs/class-project-cs50-finance.png" alt="cs50-finance.png" width="390" height="250" class=" border-rounded" /></a>
                    <h3 class="margin-top-xs">CS50 - Finance</h3>
                    <p class="paragraph padding-left-s padding-right-s">Basato sull'API IEX, questa applicazione Web riassume tutti i concetti studiati nel corso CS50.</p>
                </div>
                <!-- Personal Project Container -->
                <div class="project text-center width-33 width-special-project-50 width-lg-100 padding-bottom-lg-m">
                    <h2 class="margin-bottom-xs">Progetto Personale</h2>
                    <a href="/en/projects"><img src="../../static/imgs/index-imgs/password.png" alt="password.png" width="390" height="250" class="border-rounded" /></a>
                    <h3 class="margin-top-xs">Gestore di Password</h3>
                    <p class="paragraph padding-left-s padding-right-s">Un modo divertente per fare pratica, anche perché me ne serve uno.<br> Verrà rilasciata a completamento come app gratuita.<br> Perché se è mia è meglio 😝</p>
                </div>
                <!-- Professional Project Container -->
                <div class="project flex-container width-33 width-special-project-100 justify-center-special padding-top-special-project">
                    <div class="project text-center width-100 width-special-project-50 width-lg-100">
                        <h2 class="margin-bottom-xs">Progetto Professionale</h2>
                        <a href="/en/projects"><img src="../../static/imgs/index-imgs/placeholder.png" alt="placeholder.png" width="390" height="250" class="border-rounded" /></a>
                        <h3 class="margin-top-xs">nessuno</h3>
                        <p class="paragraph padding-left-s padding-right-s">Non appena verrò ingaggiato da qualcuno, aggiornerò questo campo, così come la pagina dei progetti.</p>
                    </div>
                </div>
            </div>
            <!-- Button: redirect to projects page -->
            <div class="button-wrapper flex-container width-100 padding-top-m">
                <form action="/projects" method="get" class="margin-left-auto margin-right-auto">
                    <button class="btn">Più Progetti</button>
                </form>
            </div>               
        </div>            
    </section> <!-- End "PROJECTS" Section -->

    <!-- "CONTACTS" Section STARTS -->
    <section class="page_section contacts boxed-container width-100 bg-medium" id="contacts" role="info">
        <div class="separator">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-hard"><path fill="var(--bg-medium)" fill-opacity="1" d="M0,160L48,149.3C96,139,192,117,288,133.3C384,149,480,203,576,240C672,277,768,299,864,256C960,213,1056,107,1152,85.3C1248,64,1344,128,1392,160L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </div>
        <div class="flex-container row flex-wrap-reverse justify-center width-80 margin-left-auto margin-right-auto padding-bottom-xl">
            <!-- Embed Google Maps -->
            <div class="flex-container width-50 width-xl-50">
                <div class="map-wrapper flex-container justify-center width-100">
                    <div class="mapouter padding-right-m">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=paderno%20dugnano&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://123movies-to.org"></a><br>
                            <a href="https://www.embedgooglemap.net">incorporando google maps in una pagina web</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Text -->
            <div class="flex-container width-50 width-xl-66 width-md-100 padding-bottom-xl-66-m">
                <div class="contact-form-wrapper flex-container justify-center align-center width-100">
                    <div class="text_container_4">
                        <h2 role="section_title">
                            <div class="special_text_2 contacts padding-bottom-s">
                                <span>C</span>
                                <span>O</span>
                                <span>N</span>
                                <span>T</span>
                                <span>A</span>
                                <span>T</span>
                                <span>T</span>
                                <span>I</span>
                            </div>
                        </h2>
                        <div class="contacts_form" role="info">
                            <h3>Tel:</h3><p>(+39) 392 551 3237</p><br>
                            <h3>E-mail:</h3><p>molino.simone1295@gmail.com</p><br>
                            <h3>Linkedin:</h3><a href="https://www.linkedin.com/in/simone-molino-884486194/" target="_blank" class="a-hover">Link Diretto a Linkedin</a><br>
                            <h3>GitHub:</h3><a href="https://github.com/Rhokthar" target="_blank" class="a-hover">Link Diretto a GitHub</a><br>
                            <h3>Instagram:</h3><a href="https://www.instagram.com/rhokthar/" target="_blank" class="a-hover">Link Diretto a Instagram</a><br>
                            <div class="button-wrapper flex-container width-100 padding-top-s">
                                <form action="/contacts" method="get" class="margin-left-auto margin-right-auto">
                                    <button class="btn">Vuoi mandarmi una E-Mail?</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End "CONTACTS" Section -->    
</main> <!-- End "MAIN CONTENT" -->

<script src="../../static/js/index-js/index-js.js"></script>
{% endblock %}

{% block language_change %}
<p id="language_change"><a href="/it/home">Italiano</a> | <a href="/en/home">Inglese</a></p>
{% endblock %}