{% extends "it/layout.html" %}

{% block lang %}
lang="it"
{% endblock %}

{% block title %}
Progetti
{% endblock %}

{% block main %}
<!-- TODO: LINKS TO EFFECTIVE PROJECTS -->
<!-- START SECTION  -->
<section class="page_section boxed-container">
    <!-- START SECTION_CONTAINER PROJECTS -->
    <div class="flex-container vertical-row flex-wrap width-100 align-center padding-top-m">
        <!-- START TITLE__WRAPPER -->
        <div class="title__wrapper padding-bottom-s">
            <h2>
                <!-- SPECIAL TEXT START -->
                <div class="special_text_2 projects">
                    <span>P</span>
                    <span>R</span>
                    <span>O</span>
                    <span>G</span>
                    <span>E</span>
                    <span>T</span>
                    <span>T</span>
                    <span>I</span>
                </div> <!-- SPECIAL TEXT END-->
            </h2>
        </div> <!-- END TITLE -->

        <!-- Disclaimer: while !professional -->
        <div class="flex-container width-75 padding-left padding-right">
            <div class="disclaimer width-100 margin-left-s margin-right-s margin-bottom-m padding-bot-xs border-rounded">
                <h4>Disclaimer</h4>
                <p>Per adesso, ho lavorato solamente a progetti scolastici e didattici dei vari corsi e bootcamp che ho fatto. Questa situazione cambierà molto presto, e progetti più complessi verranno aggiunti al portfolio.</p>
            </div>
        </div>
        
        <!-- START PROJECTS__WRAPPER #1 -->
        <!-- projects__wrapper reverse-direction -->
        <div class="flex-container flex-wrap-reverse row-reverse padding-bottom-s width-100">
            <!-- PROJECT TEXT STARTS -->
            <div class="text__wrapper flex-container width-50 width-lg-100 padding-all-s align-center">
                <div class="project_text width-66 width-lg-80 text-align-lg margin-auto-lg width-md-100">
                    <h3 class="diff_color">FINANCE</h3>
                    <p>Un'applicazione web completa costruita per un Problem Set del Corso CS50 di Harvard. Usa l'API IEX per prendere in tempo reale il costo degli stock azionari, e funziona come portfolio degli stock acquistati. Back-end: Python, SQL - Front-End: Bootstrap. Implementerò un portafoglio reale.</p>
                </div> <!-- PROJECT TEXT ENDS -->
            </div>
            <!-- PROJECT IMG -->
            <div class="img__wrapper flex-container width-50 width-lg-100 padding-all-s justify-end">
                <div class="project_img border-rounded width-66 width-xl-100 width-lg-75 margin-auto-lg width-xs-100">
                    <img src="../../static/imgs/projects-imgs/finance-img.jpg" alt="finance-img.jpg" />
                </div>
            </div> <!-- END PROJECT IMG -->
        </div> <!-- END PROJECTS__WRAPPER-->

        <!-- BUTTON STARTS -->
        <div class="flex-container justify-center width-100">
            <button class="btn">Dacci un Occhio</button>
        </div> <!-- END BUTTON -->

        <!-- SEPARATOR - CHANGING COLOR INSIDE TAGS VALUES AND CLASSES -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="var(--bg-medium)" fill-opacity="1" d="M0,160L48,160C96,160,192,160,288,149.3C384,139,480,117,576,96C672,75,768,53,864,42.7C960,32,1056,32,1152,53.3C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

        <!-- START PROJECTS__WRAPPER #2 -->
        <div class="flex-container flex-wrap-reverse row padding-bottom-s width-100 bg-medium">
            <!-- START PROJECT TEXT -->
            <div class="text__wrapper flex-container width-50 width-lg-100 padding-all-s align-center justify-end">
                <div class="project_text width-66 width-lg-80 text-align-lg margin-auto-lg width-md-100">
                    <h3 class="diff_color">SIMPLE FILTER APPLIER</h3>
                    <p>Un altro programma costruito per un Problem Set del corso CS50 di Harvard. Programma Console programmato in C che applica filtri alle immagini, tramite ricalcolo del valore dei pixel ad uno ad uno.</p>
                </div> <!-- END PROJECT_TEXT -->
            </div>
            <!-- START PROJECT_IMG -->
            <div class="img__wrapper flex-container width-50 width-lg-100 padding-all-s">
                <div class="project_img border-rounded width-66 width-xl-100 width-lg-75 margin-auto-lg width-xs-100">
                    <a href="https://replit.com/@SimoneMolino/CS50-Filter-Applier#filter-more/filter.c" target="_blank">
                        <img src="../../static/imgs/projects-imgs/filter-img.png" alt="filter-img.jpg" />
                    </a> 
                </div>
            </div><!-- END PROJECT_IMG -->
        </div> <!-- END PROJECTS__WRAPPER #2 -->

        <div class="flex-container justify-center width-100 bg-medium">
            <a href="https://replit.com/@SimoneMolino/CS50-Filter-Applier#filter-more/filter.c" target="_blank">
                <button class="btn">Dacci un Occhio</button>
            </a>
        </div>

        <!-- SEPARATOR - CHANGING COLOR INSIDE TAGS VALUES AND CLASSES -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-medium"><path fill="var(--bg-hard)" fill-opacity="1" d="M0,160L48,160C96,160,192,160,288,149.3C384,139,480,117,576,96C672,75,768,53,864,42.7C960,32,1056,32,1152,53.3C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

        <!-- START PROJECTS__WRAPPER #3 -->
        <div class="flex-container flex-wrap-reverse row-reverse padding-bottom-s bg-hard width-100">
            <!-- START PROJECT_TEXT -->
            <div class="text__wrapper flex-container width-50 width-lg-100 padding-all-s align-center">
                <div class="project_text width-66 width-lg-80 text-align-lg margin-auto-lg width-md-100">
                    <h3 class="diff_color">PYTHON ARITHMETIC FORMATTER</h3>
                    <p>Formattatore aritmetico costruito in Python per uno skill-test del corso di FreeCodeCamp "Scientific Computing with Python". Rappresenta addizioni e sottrazioni visualizzandole in colonna. Se l'opzione viene checkata, restituisce anche il risultato.</p>
                </div> <!-- END PROJECT_TEXT-->
            </div>
            <!-- START PROJECT IMG -->
            <div class="img__wrapper flex-container width-50 width-lg-100 padding-all-s justify-end">
                <div class="project_img border-rounded width-66 width-xl-100 width-lg-75 margin-auto-lg width-xs-100">
                    <a href="https://replit.com/@SimoneMolino/boilerplate-arithmetic-formatter#arithmetic_arranger.py" target="_blank"><img src="../../static/imgs/projects-imgs/formatter-img.png" alt="formatter-img.png" /></a>
                </div>
            </div> <!-- END PROJECT_IMG -->
        </div> <!-- END PROJECT__WRAPPER #3 -->

        <div class="flex-container justify-center width-100 bg-hard">
            <a href="https://replit.com/@SimoneMolino/boilerplate-arithmetic-formatter#arithmetic_arranger.py" target="_blank">
                <button class="btn">Dacci un Occhio</button>
            </a>
        </div>

        <!-- SEPARATOR - CHANGING COLOR INSIDE TAGS VALUES AND CLASSES -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-hard"><path fill="var(--bg-medium)" fill-opacity="1" d="M0,160L48,160C96,160,192,160,288,149.3C384,139,480,117,576,96C672,75,768,53,864,42.7C960,32,1056,32,1152,53.3C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

        <!-- START PROJECTS__WRAPPER #4 -->
        <div class="flex-container flex-wrap-reverse row padding-bottom-s width-100 bg-medium">
            <!-- START PROJECT_TEXT --> 
            <div class="text__wrapper flex-container width-50 width-lg-100 padding-all-s align-center justify-end">
                <div class="project_text width-66 width-lg-80 text-align-lg margin-auto-lg width-md-100">
                    <h3 class="diff_color">PYTHON TIME CALCULATOR</h3>
                    <p>Calcolatore orario costruito in Python per un altro skill-test del corso di FreeCodeCamp "Scientific Computing with Python". Ricalcola l'orario dopo che l'utente aggiunge altro tempo ad un dato orario, tramite CLA. Mostra il nuovo orario in AM/PM e quanti giorni sono passati.</p>
                </div> <!-- END PROJECT_TEXT-->
            </div>
            <!-- START PROJECT IMG -->
            <div class="img__wrapper flex-container width-50 width-lg-100 padding-all-s">
                <div class="project_img border-rounded width-66 width-xl-100 width-lg-75 margin-auto-lg width-xs-100">
                    <a href="https://replit.com/@SimoneMolino/boilerplate-time-calculator#time_calculator.py" target="_blank">
                        <img src="../../static/imgs/projects-imgs/time-calculator-img.png" alt="time-calculator-img.png" />
                    </a>    
                </div>
            </div> <!-- END PROJECT_IMG -->
        </div> <!-- END PROJECT__WRAPPER #4 -->
        
        <div class="flex-container justify-center width-100 bg-medium">
            <a href="https://replit.com/@SimoneMolino/boilerplate-time-calculator#time_calculator.py" target="_blank">
                <button class="btn">Dacci un'Occhio</button>
            </a>    
        </div>

        <!-- SEPARATOR - CHANGING COLOR INSIDE TAGS VALUES AND CLASSES -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-medium"><path fill="var(--bg-hard)" fill-opacity="1" d="M0,160L48,160C96,160,192,160,288,149.3C384,139,480,117,576,96C672,75,768,53,864,42.7C960,32,1056,32,1152,53.3C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

        <!-- START PROJECTS__WRAPPER #5 -->
        <div class="flex-container flex-wrap-reverse row-reverse padding-bottom-s bg-hard width-100">
            <!-- START PROJECT_TEXT -->
            <div class="text__wrapper flex-container width-50 width-lg-100 padding-all-s align-center">
                <div class="project_text width-66 width-lg-80 text-align-lg margin-auto-lg width-md-100">
                    <h3 class="diff_color">SQL FIFTYVILLE</h3>
                    <p>Piccolo "gioco investigativo" fatto per il corso CS50 di Harvard. Dovetti interrogare alcuni DBs per cercare tracce di un furto in un negozio. Seguendo le briciole, trovai il colpevole e il suo (o sua 😉) complice.</p>
                </div> <!-- END PROJECT_TEXT-->
            </div>
            <!-- START PROJECT IMG -->
            <div class="img__wrapper flex-container width-50 width-lg-100 padding-all-s justify-end">
                <div class="project_img border-rounded width-66 width-xl-100 width-lg-75 margin-auto-lg width-xs-100">
                    <a href="https://replit.com/@SimoneMolino/CS50-Fiftyville#fiftyville/log.sql" target="_blank">
                        <img src="../../static/imgs/projects-imgs/sql-fiftyville-img.webp" alt="sql-fiftyville-img.webp" />
                    </a> 
                </div> <!-- END PROJECT_IMG -->
            </div>
        </div> <!-- END PROJECT__WRAPPER #5 -->

        <div class="flex-container justify-center width-100 bg-hard">
            <a href="https://replit.com/@SimoneMolino/CS50-Fiftyville#fiftyville/log.sql" target="_blank">
                <button class="btn">Dacci un'Occhiata</button>
            </a>
        </div>

        <!-- SEPARATOR - CHANGING COLOR INSIDE TAGS VALUES AND CLASSES -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-hard"><path fill="var(--bg-medium)" fill-opacity="1" d="M0,160L48,160C96,160,192,160,288,149.3C384,139,480,117,576,96C672,75,768,53,864,42.7C960,32,1056,32,1152,53.3C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        
        <!-- START PROJECTS__WRAPPER #6 -->
        <div class="flex-container flex-wrap-reverse row padding-bottom-s width-100 bg-medium">
            <!-- START PROJECT_TEXT -->
            <div class="text__wrapper flex-container width-50 width-lg-100 padding-all-s align-center justify-end">
                <div class="project_text width-66 width-lg-80 text-align-lg margin-auto-lg width-md-100">
                    <h3 class="diff_color">IL SITO DELLA MIA SCUOLA (FRONT-END)</h3>
                    <p>Quando ero alle superiori, dovemmo rifare il sito della scuola come progetto di squadra. A me fu chiesto, insieme ad altri compagni di classe, di occuparmi del front-end.</p>
                </div> <!-- END PROJECT_TEXT-->
            </div>
            <!-- START PROJECT IMG -->
            <div class="img__wrapper flex-container width-50 width-lg-100 padding-all-s">
                <div class="project_img border-rounded width-66 width-xl-100 width-lg-75 margin-auto-lg width-xs-100">
                    <a href="https://www.iislagrange.edu.it/" target="_blank">
                        <img src="../../static/imgs/projects-imgs/highschool-image.jpg" alt="highschool-image" />
                    </a>
                </div> <!-- END PROJECT_IMG -->
            </div>
        </div> <!-- END PROJECT__WRAPPER #6 -->

        <div class="flex-container justify-center width-100 bg-medium">
            <a href="https://www.iislagrange.edu.it/" target="_blank">
                <button class="btn">Dacci un Occhio</button>
            </a>
        </div>

        <!-- SEPARATOR - CHANGING COLOR INSIDE TAGS VALUES AND CLASSES -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="bg-medium"><path fill="var(--bg-light)" fill-opacity="1" d="M0,160L48,160C96,160,192,160,288,149.3C384,139,480,117,576,96C672,75,768,53,864,42.7C960,32,1056,32,1152,53.3C1248,75,1344,117,1392,138.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>


        <!-- START PROJECTS__WRAPPER #7 -->
        <div class="flex-container flex-wrap-reverse row-reverse padding-bottom-s bg-low width-100">
            <!-- START PROJECT_TEXT -->
            <div class="text__wrapper flex-container width-50 width-lg-100 padding-all-s align-center">
                <div class="project_text width-66 width-lg-80 text-align-lg margin-auto-lg width-md-100">
                    <h3 class="diff_color">IL MIO SITO DI PORTFOLIO</h3>
                    <p>Bhe, ovviamente il sito su cui stai navigando è un altro progetto fatto dal sottoscritto. Non sono un designer professionista, quindi spero vivamente che ti stia piacendo! 😁</p>
                </div> <!-- END PROJECT_TEXT-->
            </div>
            <!-- START PROJECT IMG -->
            <div class="img__wrapper flex-container width-50 width-lg-100 padding-all-s justify-end">
                <div class="project_img border-rounded width-66 width-xl-100 width-lg-75 margin-auto-lg width-xs-100">
                    <a href="/it/home" target="_blank"><img src="../../static/imgs/projects-imgs/portfolio-img.png" alt="portfolio image" /></a>
                </div> <!-- END PROJECT_IMG -->
            </div>
        </div> <!-- END PROJECT__WRAPPER #7 -->

        <div class="flex-container justify-center width-100 bg-low padding-bottom-xl">
            <a href="/it/home" target="_blank">
                <button class="btn">Dacci un Occhio</button>
            </a>
        </div>

    </div> <!-- END SECTION_CONTAINER PROJECT -->
</section> <!-- END SECTION -->

<script src="../../static/js/projects-js/projects-js.js"></script>
{% endblock %}

{% block language_change %}
<p id="language_change"><a href="/it/projects">Italiano</a> | <a href="/en/projects">Inglese</a></p>
{% endblock %}