{% extends "it/layout.html" %}

{% block lang %}
lang="it"
{% endblock %}

{% block title %}
Abilità
{% endblock %}

{% block main %}
<!-- SECTION START -->
<section class="page_section">
    <!-- SECTION CONTAINER START -->
    <div class="flex-container vertical-row boxed-container margin-left-auto margin-right-auto padding-top-xl">
        <!-- TEXT CONTAINER START -->
        <div class="text_container margin-all-s">
            <!-- START MAIN__TEXT SKILLS  -->
            <div class="main__text margin-bottom-m">
                <!-- TITLE -->
                <h2>
                    <div class="special_text_2 margin-bottom-s">
                        <span>A</span>
                        <span>B</span>
                        <span>I</span>
                        <span>L</span>
                        <span>I</span>
                        <span>T</span>
                        <span>A'</span>
                    </div>
                </h2> <!-- END TITLE-->
                <!-- DESCRIPTION START -->
                <p class="paragraph">Durante i miei studi, ho imparato vari linguaggi di programmazione, sia per il front-end che per il back-end, e posso dirvi che non smetterò <b>mai</b> di imparare nuove cose.</p>
                <p class="paragraph">La mia opinione personale è che nessuno al mondo, nemmeno se ci dedicasse tutta la sua vita, sarebbe in grado di conoscere <i>tutto</i> di un particolare argomento. Forse risulterò impopolare, ma lo credo fortemente.</p>
                <p class="paragraph">Soprattutto in informatica, la quantità di roba che possiamo imparare e in cui possiamo migliorare, è <b>COSI'</b> grande che non possiamo mai smettere di imparare.</p>
                <p class="paragraph">Ecco perché, dire che "Conosco questa cosa" in informatica non è accurato, almeno per come la penso io. Potete dire "Conosco <i>questa parte</i> di quella cosa", ma conoscere interamente qualcosa, non succederà mai. E per interamente intendo <i>davvero</i> interamente: ogni applicazione di ogni libreria o metodo, ogni funzione, ogni classe... Impossibile.
                <p class="paragraph">Quindi, detto ciò, nell'elencare le mie abilità intendo che ho, più o meno, una forte base di come quel linguaggio funziona, come implementare logiche e strutture dati e come risolvere problemi tramite esso, ed è anche il motivo per cui ogni linguaggio che vedrete nel grafico non riempirà completamente la barra di progresso: c'è sempre qualcosa di nuovo da imparare o in cui migliorarsi, in qualsiasi linguaggio.</p>
                <p class="paragraph">Qui troverete le mie skill di programmazione e anche qualcos'altro. Spero possa aiutarvi a capire di che cosa sono capace 😉</p>    
                <!-- END DESCRIPTION -->
            </div> <!-- END MAIN__TEXT SKILLS -->
            <!-- PROGRESS__BARS -->
            <div class="flex-container row flex-wrap justify-center width-100" id="skill-progress-bars">
                <div class="skill width-75" id="sb_c_bar">
                    <h3>C</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_c"></span> <!-- C (95%) -->
                </div>  
                <div class="skill width-75">
                    <h3>C++</h3>
                     <span class="skill-bar flex-container height-100 width-100" id="sb_cpp"></span> <!-- C++ (10%) -->
                 </div>
                 <div class="skill width-75">
                     <h3>C#</h3>
                     <span class="skill-bar flex-container height-100 width-100" id="sb_csharp"></span><!-- C# (50%) -->
                 </div>              
                <div class="skill width-75">
                    <h3>PYTHON</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_py"></span><!-- PYTHON (85%) -->
                </div>               
                <div class="skill width-75">
                    <h3>JAVA</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_java"></span><!-- JAVA (5%) -->
                </div>
                <div class="skill width-75">
                    <h3>SQL</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_sql"></span><!-- SQL (70%) -->
                </div>
                <div class="skill width-75">
                    <h3>HTML</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_html"></span> <!-- HTML (80%)-->
                </div>             
                <div class="skill width-75">
                    <h3>CSS</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_css"></span><!-- CSS (60%) -->
                </div>                
                <div class="skill width-75 margin-bottom-m">
                    <h3>JAVASCRIPT</h3>
                    <span class="skill-bar flex-container height-100 width-100" id="sb_js"></span><!-- JAVASCRIPT (35%) -->
                </div>                
            </div> <!-- END PROGRESS WRAPPER -->
            
            <p class="padding-top-xl padding-bottom-m paragraph">Come precedentemente accennato, vi indico anche le mie soft-skill e le mie capacità secondarie:</p>  
            
            <!-- SIDE SKILLS WRAPPER STARTS -->
            <div class="skills-wrapper flex-container row flex-wrap justify-center width-100" id="side-skills-wrapper">
                <!-- SOFT SKILLS STARTS -->
                <div class="width-25 width-lg-50 width-md-100" id="soft-skills">
                    <h3 class="margin-bottom-s">Soft Skills</h3>
                    <ul>
                        <li>
                            <span class="diff_color">Problem Solving</span><br /> Sono bravo a trovare soluzioni ai problemi, sia dentro che al di fuori del luogo di lavoro.
                        </li>
                        <li>
                            <span class="diff_color">Autonomia</span><br /> Se necessario, sono bravo a portare a termine i lavori da solo.
                        </li>
                        <li>
                            <span class="diff_color">Pensiero critico</span><br /> Riesco a vedere i pro e i contro delle situazioni che mi si parano davanti, e sono bravo ad auto-criticarmi in caso di errore o differenza di opinioni.
                        </li>
                        <li>
                            <span class="diff_color">Concentrato</span><br /> Quando lavoro a qualcosa, nulla può distrarmi dal mio obiettivo.
                        </li>
                        <li>
                            <span class="diff_color">Competitivo</span><br /> Cerco di essere il migliore in tutto ciò che faccio nella vita, motivo per cui dedico tutto me stesso al raggiungimento dell'obiettivo e motivo per cui lavoro bene in team: l'obiettivo è più importante di qualsiasi altra cosa, e i membri di un team possono (e sicuramente lo faranno) cooperare per raggiungerlo.
                        </li>
                        <li>
                            <span class="diff_color">Comunicazione</span><br /> La mia esperienza in cucina mi ha lasciato con alcune soft-skill migliorate. La comunicazione è una di queste, perché dovevamo comunicare velocemente e precisamente cosa fare e come farlo nel modo più efficiente possibile.
                        </li>
                        <li>
                            <span class="diff_color">Lavoro di Squadra</span><br /> Collegato alla precedente soft-skill, il lavoro di squadra l'ho migliorato tramite la mia esperienza in cucina. Eravamo una squadra affiatata che doveva lavorare come un ingranaggio per raggiungere l'obiettivo, in ogni singolo servizio.
                        </li>
                        <li>
                            <span class="diff_color">Precisione</span><br /> La precisione è soddisfacente se raggiunta, ecco perché la ricerco nelle attività cui lavoro.
                        </li>
                        <li>
                            <span class="diff_color">Gestione della Pressione / Lavoro sotto Pressione</span><br /> Altra soft skill migliorata dalla mia esperienza in cucina. Ogni servizio era molto stressante, quindi dovevamo combattere per non farci sopraffarre e per trasformarla in energia che ci avrebbe aiutato a raggiungere l'obiettivo.
                        </li>

                    </ul>
                </div> <!-- END SOFT_SKILLS -->
                <!-- SIDE SKILLS START -->
                <div class="width-25 width-lg-50 width-md-100" id="side-skills">
                    <h3 class="margin-bottom-s">Capacità Secondarie</h3>
                    <ul>
                        <li>
                            <span class="diff_color">Assemblatore di Computer</span><br /> Sono bravo a costruire computer a partire dai singoli componenti hardware. Sono anche bravo a scegliere i componenti in base al compito che quel dato computer deve assolvere.
                        </li>
                        <li>
                            <span class="diff_color">Tecnico di Computer</span><br /> Sono bravo a trovare soluzioni ai problemi dei computer.
                        </li>
                        <li>
                            <span class="diff_color">Avanzato - Utente Microsoft Office</span><br /> Utente avanzato dei programmi del pacchetto di Microsoft Office (Excel and Access mainly).
                        </li>
                        <li>
                            <span class="diff_color">Intermedio - Utente Photoshop</span><br /> Utente di livello intermedio di Photoshop. Sto ancora lavorando per migliorarmi nel suo utilizzo.
                        </li>
                        <li>
                            <span class="diff_color">Intermedio - Utente DaVinci Resolve</span><br /> Utente di livello intermedio di DavVinci Resolve. So fare video editing di base e aggiungere vari effetti (tra cui bilanciamento colori e luci).
                        </li>
                        <li>
                            <span class="diff_color">Principiante - Programmatore di dispositivi di rete CISCO</span><br /> Ho studiato come programmare dispositivi di rete CISCO alle superiori. Non sono particolarmente abile, devo sicuramente migliorarmi (e lo farò).
                        </li>
                    </ul>
                </div> <!-- END SIDE SKILLS -->
            </div> <!-- END SIDE_SKILLS_WRAPPER -->

            <p class="padding-top-m padding-bottom-m paragraph">E per concludere, qui ci sono le abilità che vorrei imparare. Spero che le possiate vedere, tra non molto, in cima alla lista!</p>

            <!-- WANNAKNOW_SKILLS START -->
            <div class="skills-wrapper flex-container row flex-wrap justify-center width-100 padding-bottom-m" id="wannaknow-skills">
                <!-- STUDY_PLANNING_SKILLS START -->
                <div class="width-25 width-lg-50 width-md-100" id="study-planning">
                    <h3 class="margin-bottom-s">Piano di Studi</h3>
                    <ul>
                        <li>Angular</li>
                        <li>Programmazione Blockchain</li>
                        <li>Node.js</li>
                        <li>PHP</li>
                        <li>R</li>
                        <li>React</li>
                        <li>Swift</li>
                    </ul>
                </div> <!-- END study_planning_skills-->
                <!-- OTHER SKILLS STARTS -->
                <div class="width-25 width-lg-50 width-md-100" id="other-skills">
                    <h3 class="margin-bottom-s">Altro</h3>
                    <ul>
                        <li>Programmazione AI & Programmazione ML</li>
                        <li>Programmazione di <i>Arduino</i></li>
                        <li>Cybersecurity & Hacking Etico</li>
                        <li>Domotica</li>
                        <li>Robotica</li>
                        <li>Esperto di Telecomunicazioni e Reti</li>
                    </ul>
                </div> <!-- END OTHER SKILLS-->
            </div> <!-- END WANNAKNOW_SKILLS-->
        </div> <!-- END TEXT CONTAINER --> 
    </div> <!-- END SECTION CONTAINER-->

    <!-- SCRIPT -->
    <script>        

        // Variables
        let barsArray = document.querySelectorAll(".skill-bar");
        let barsContainerArray = document.querySelectorAll(".skill");
        let paragraphsArray = document.querySelectorAll(".paragraph");
        let skillsTimeLine = gsap.timeline();            

        // Register ScrollTrigger
        gsap.registerPlugin(ScrollTrigger);

        // Set defaults
        ScrollTrigger.defaults({
            toggleActions: "play pause resume none",
            // markers: true
        });

        // TITLE, PARAGRAPHS, BARS ANIMATIONS STARTS
        // Wait for Load
        window.addEventListener("load", () => {           

            // Title Animation STARTS
            skillsTimeLine.from(".special_text_2", {
                delay: 0.5,
                opacity: 0,
                stagger: 1,
                x: -100,
                ease: "power4.out"
            });
            // Title Animation ENDS

            // Paragraphs Animation STARTS
            for (var i = 0; i < paragraphsArray.length; i++)
            {
                if (isInViewport(paragraphsArray[i]))
                {
                    skillsTimeLine.from(paragraphsArray[i], {
                        x: -50,
                        opacity: 0,
                        duration: 0.5,
                        ease: "power4.out"
                    }, "-=0.25");
                }
                else
                {
                    gsap.from(paragraphsArray[i], {
                        scrollTrigger: {
                            trigger: paragraphsArray[i],
                            start: "top 80%"
                        },
                        x: -50,
                        opacity: 0,
                        duration: 1,
                        ease: "power4.out"
                    });
                }
            }
            // Paragraph Animation ENDS

            // Bars Animation STARTS
            for (var i = 0; i < barsContainerArray.length; i++)
            {
                if (isInViewport(barsContainerArray[i]))
                {
                    skillsTimeLine.from(barsContainerArray[i], {
                        x: -100,
                        opacity: 0,
                        duration: 0.5,
                        ease: "power4.out"
                    });
                    skillsTimeLine.from(barsArray[i], {
                        width: 0,
                        duration: 0.5,
                        ease: "power4.out"
                    });
                }
                else
                {
                    gsap.from(barsContainerArray[i], {
                        scrollTrigger: {
                            trigger: barsContainerArray[i],
                            start: "top 80%",
                            end: "bottom top"
                        },
                        y: 100,
                        opacity: 0,
                        duration: 2,
                        ease: "power4.out"
                    });
                    gsap.from(barsArray[i], {
                        scrollTrigger: {
                            trigger: barsArray[i],
                            start: "top 80%",
                            end: "bottom top"
                        },
                        width: 0,
                        duration: 2,
                        delay: 0.5,
                        ease: "power4.out"
                    });
                }
            }
            // Bars Animation ENDS
        });
        // Loading Animation ENDS

        
        // SubSections Animation STARTS       
        // First Subsection STARTS
        gsap.from("#soft-skills", {
            scrollTrigger: {
                trigger: "#soft-skills",
                start: "top center",
                end: "bottom center"
            },
            x: -100,
            opacity: 0,
            duration: 2,
            ease: "power4.out"            
        });
        gsap.from("#side-skills", {
            scrollTrigger: {
                trigger: "#side-skills",
                start: "top center",
                end: "bottom center"
            },
            x: 100,
            opacity: 0,
            duration: 2,
            delay: 0.25,
            ease: "power4.out"
        });
        // End First Subsection ENDS

        // Second Subsection STARTS
        gsap.from("#study-planning", {
            scrollTrigger: {
                trigger: "#study-planning",
                start: "top 60%",
            },
            x: -100,
            opacity: 0,
            duration: 2,
            ease: "power4.out"
        });
        gsap.from("#other-skills", {
            scrollTrigger: {
                trigger: "#other-skills",
                start: "top 60%",
            },
            x: 100,
            opacity: 0,
            duration: 2,
            delay: 0.25,
            ease: "power4.out"
        });
        // Second Subsection END
        // Subsection Animations END
    </script> <!-- END SCRIPT -->
</section> <!-- END SECTION -->
{% endblock %}

{% block language_change %}
<p id="language_change"><a href="/it/skills">Italiano</a> | <a href="/en/skills">Inglese</a></p>
{% endblock %}